workflows/9CcnzlOct7w0F3Wb_Scheduled___Auto_Transcribe_Podcasts_2026-02-11_00-00-26.json
{
  "updatedAt": "2026-02-08T16:14:04.225Z",
  "createdAt": "2026-02-08T12:38:56.123Z",
  "id": "9CcnzlOct7w0F3Wb",
  "name": "Scheduled - Auto Transcribe Podcasts",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6,14,18 * * *"
            }
          ]
        }
      },
      "id": "schedule-1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        256,
        208
      ]
    },
    {
      "parameters": {
        "url": "https://n8n.aimediaflow.net/webhook/voa-podcasts",
        "options": {}
      },
      "id": "http-get-podcasts",
      "name": "Get Podcasts List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        480,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst episodes = data.episodes || [];\n\n// Get today's date in YYYY-MM-DD format (UTC)\nconst today = new Date().toISOString().split('T')[0];\nconsole.log('Today:', today);\n\n// Filter only today's episodes\nconst todayEpisodes = episodes.filter(ep => {\n  const episodeDate = ep.date || ep.dateTime?.split('T')[0];\n  return episodeDate === today;\n});\n\nconsole.log(`Total episodes: ${episodes.length}, Today's episodes: ${todayEpisodes.length}`);\n\n// Return each today's episode as separate item\nreturn todayEpisodes.map(ep => ({\n  json: {\n    audioUrl: ep.audioUrl,\n    title: ep.title,\n    date: ep.date\n  }\n}));"
      },
      "id": "code-split-episodes",
      "name": "Filter Today's Episodes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        208
      ]
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "w8Wf2jE8RjoI2FkO",
          "mode": "list",
          "cachedResultName": "podcast_transcripts"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "audio_url",
              "keyValue": "={{ $json.audioUrl }}"
            }
          ]
        }
      },
      "id": "filter-new",
      "name": "Filter New Episodes",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        928,
        208
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.audioUrl }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 60000
        }
      },
      "id": "http-download",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1152,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst binaryData = item.binary?.data;\n\nif (!binaryData) {\n  console.log('No binary data found');\n  return { json: { fileSizeMB: 0, shouldCompress: false }, binary: item.binary };\n}\n\nconst fileSize = binaryData.fileSize || (binaryData.data ? Buffer.byteLength(binaryData.data, 'base64') : 0);\nconst fileSizeMB = parseFloat((fileSize / 1024 / 1024).toFixed(2));\n\nconsole.log(`Audio file size: ${fileSizeMB} MB (${fileSize} bytes)`);\n\nreturn {\n  json: {\n    ...item.json,\n    fileSizeMB,\n    shouldCompress: fileSizeMB > 20\n  },\n  binary: item.binary\n};"
      },
      "id": "code-check-size",
      "name": "Check File Size",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1376,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ffmpeg-audio-compressor:3000/compress",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 120000
        }
      },
      "id": "http-compress",
      "name": "Compress Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1600,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whisper-transcription:9000/asr?output=json&task=transcribe&language=en",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio_file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 600000
        }
      },
      "id": "http-whisper",
      "name": "Send to Whisper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1824,
        208
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "w8Wf2jE8RjoI2FkO",
          "mode": "list",
          "cachedResultName": "podcast_transcripts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "audio_url": "={{ $('Check File Size').item.json.audioUrl }}",
            "transcript_text": "={{ $('Send to Whisper').item.json.text || JSON.stringify($('Send to Whisper').item.json) }}",
            "segments": "={{ JSON.stringify($('Send to Whisper').item.json) }}",
            "file_size_mb": "={{ $('Check File Size').item.json.fileSizeMB }}",
            "translate": "={{ $('Translate to Russian').item.json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "audio_url",
              "displayName": "audio_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "transcript_text",
              "displayName": "transcript_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "segments",
              "displayName": "segments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "file_size_mb",
              "displayName": "file_size_mb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "translate",
              "displayName": "translate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "save-cache",
      "name": "Save to Cache",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2624,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get transcript from Whisper\nconst whisperResponse = $input.first().json;\n\n// Extract text with timestamps\nlet textToTranslate = '';\nif (whisperResponse.segments && Array.isArray(whisperResponse.segments)) {\n  // Keep segments with timestamps for later\n  textToTranslate = whisperResponse.segments.map(seg => seg.text.trim()).join(' ');\n} else if (whisperResponse.text) {\n  textToTranslate = whisperResponse.text;\n} else {\n  textToTranslate = JSON.stringify(whisperResponse);\n}\n\nreturn [{ json: {\n  originalTranscript: whisperResponse,\n  prompt: `Translate the following English podcast transcript to Russian. Keep it natural and fluent. Preserve the meaning and tone. Do not add any introductions or explanations, just provide the translation:\\n\\n${textToTranslate}`\n}}];"
      },
      "id": "prepare-translation",
      "name": "Prepare Translation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        208
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a professional translator. Translate English podcast transcripts to Russian accurately and naturally, preserving the meaning and conversational tone."
            }
          ]
        },
        "batching": {}
      },
      "id": "translate-chain",
      "name": "Translate to Russian",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        2272,
        208
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2160,
        416
      ],
      "id": "56ec181d-4341-4953-8f40-954e2679586d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LkIHzVT9REIIoRbA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2256,
        512
      ],
      "id": "c044cbef-92d8-4b2c-bc5c-722fb8bed835",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zI8kGOIzPCNm14vJ",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Podcasts List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Podcasts List": {
      "main": [
        [
          {
            "node": "Filter Today's Episodes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Today's Episodes": {
      "main": [
        [
          {
            "node": "Filter New Episodes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Episodes": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Check File Size",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Size": {
      "main": [
        [
          {
            "node": "Compress Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compress Audio": {
      "main": [
        [
          {
            "node": "Send to Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Whisper": {
      "main": [
        [
          {
            "node": "Prepare Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Translation": {
      "main": [
        [
          {
            "node": "Translate to Russian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate to Russian": {
      "main": [
        [
          {
            "node": "Save to Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Translate to Russian",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Translate to Russian",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "95098139-3c8f-4943-9b2d-72974c9ebab1",
  "activeVersionId": "95098139-3c8f-4943-9b2d-72974c9ebab1",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-08T12:38:56.123Z",
      "createdAt": "2026-02-08T12:38:56.123Z",
      "role": "workflow:owner",
      "workflowId": "9CcnzlOct7w0F3Wb",
      "projectId": "jNVg0G6i9vrm7uSd"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-08T16:14:33.423Z",
    "createdAt": "2026-02-08T16:14:04.228Z",
    "versionId": "95098139-3c8f-4943-9b2d-72974c9ebab1",
    "workflowId": "9CcnzlOct7w0F3Wb",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 6,14,18 * * *"
              }
            ]
          }
        },
        "id": "schedule-1",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          256,
          208
        ]
      },
      {
        "parameters": {
          "url": "https://n8n.aimediaflow.net/webhook/voa-podcasts",
          "options": {}
        },
        "id": "http-get-podcasts",
        "name": "Get Podcasts List",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          480,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $input.first().json;\nconst episodes = data.episodes || [];\n\n// Get today's date in YYYY-MM-DD format (UTC)\nconst today = new Date().toISOString().split('T')[0];\nconsole.log('Today:', today);\n\n// Filter only today's episodes\nconst todayEpisodes = episodes.filter(ep => {\n  const episodeDate = ep.date || ep.dateTime?.split('T')[0];\n  return episodeDate === today;\n});\n\nconsole.log(`Total episodes: ${episodes.length}, Today's episodes: ${todayEpisodes.length}`);\n\n// Return each today's episode as separate item\nreturn todayEpisodes.map(ep => ({\n  json: {\n    audioUrl: ep.audioUrl,\n    title: ep.title,\n    date: ep.date\n  }\n}));"
        },
        "id": "code-split-episodes",
        "name": "Filter Today's Episodes",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          704,
          208
        ]
      },
      {
        "parameters": {
          "operation": "rowNotExists",
          "dataTableId": {
            "__rl": true,
            "value": "w8Wf2jE8RjoI2FkO",
            "mode": "list",
            "cachedResultName": "podcast_transcripts"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "audio_url",
                "keyValue": "={{ $json.audioUrl }}"
              }
            ]
          }
        },
        "id": "filter-new",
        "name": "Filter New Episodes",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          928,
          208
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.audioUrl }}",
          "options": {
            "redirect": {
              "redirect": {}
            },
            "response": {
              "response": {
                "responseFormat": "file"
              }
            },
            "timeout": 60000
          }
        },
        "id": "http-download",
        "name": "Download Audio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1152,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first();\nconst binaryData = item.binary?.data;\n\nif (!binaryData) {\n  console.log('No binary data found');\n  return { json: { fileSizeMB: 0, shouldCompress: false }, binary: item.binary };\n}\n\nconst fileSize = binaryData.fileSize || (binaryData.data ? Buffer.byteLength(binaryData.data, 'base64') : 0);\nconst fileSizeMB = parseFloat((fileSize / 1024 / 1024).toFixed(2));\n\nconsole.log(`Audio file size: ${fileSizeMB} MB (${fileSize} bytes)`);\n\nreturn {\n  json: {\n    ...item.json,\n    fileSizeMB,\n    shouldCompress: fileSizeMB > 20\n  },\n  binary: item.binary\n};"
        },
        "id": "code-check-size",
        "name": "Check File Size",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          1376,
          208
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://ffmpeg-audio-compressor:3000/compress",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "audio",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            },
            "timeout": 120000
          }
        },
        "id": "http-compress",
        "name": "Compress Audio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1600,
          208
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://whisper-transcription:9000/asr?output=json&task=transcribe&language=en",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "audio_file",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {
            "timeout": 600000
          }
        },
        "id": "http-whisper",
        "name": "Send to Whisper",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1824,
          208
        ]
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "w8Wf2jE8RjoI2FkO",
            "mode": "list",
            "cachedResultName": "podcast_transcripts"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "audio_url": "={{ $('Check File Size').item.json.audioUrl }}",
              "transcript_text": "={{ $('Send to Whisper').item.json.text || JSON.stringify($('Send to Whisper').item.json) }}",
              "segments": "={{ JSON.stringify($('Send to Whisper').item.json) }}",
              "file_size_mb": "={{ $('Check File Size').item.json.fileSizeMB }}",
              "translate": "={{ $('Translate to Russian').item.json.text }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "audio_url",
                "displayName": "audio_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "transcript_text",
                "displayName": "transcript_text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "segments",
                "displayName": "segments",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "file_size_mb",
                "displayName": "file_size_mb",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "translate",
                "displayName": "translate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "save-cache",
        "name": "Save to Cache",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          2624,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "// Get transcript from Whisper\nconst whisperResponse = $input.first().json;\n\n// Extract text with timestamps\nlet textToTranslate = '';\nif (whisperResponse.segments && Array.isArray(whisperResponse.segments)) {\n  // Keep segments with timestamps for later\n  textToTranslate = whisperResponse.segments.map(seg => seg.text.trim()).join(' ');\n} else if (whisperResponse.text) {\n  textToTranslate = whisperResponse.text;\n} else {\n  textToTranslate = JSON.stringify(whisperResponse);\n}\n\nreturn [{ json: {\n  originalTranscript: whisperResponse,\n  prompt: `Translate the following English podcast transcript to Russian. Keep it natural and fluent. Preserve the meaning and tone. Do not add any introductions or explanations, just provide the translation:\\n\\n${textToTranslate}`\n}}];"
        },
        "id": "prepare-translation",
        "name": "Prepare Translation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2048,
          208
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.prompt }}",
          "needsFallback": true,
          "messages": {
            "messageValues": [
              {
                "message": "You are a professional translator. Translate English podcast transcripts to Russian accurately and naturally, preserving the meaning and conversational tone."
              }
            ]
          },
          "batching": {}
        },
        "id": "translate-chain",
        "name": "Translate to Russian",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.8,
        "position": [
          2272,
          208
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          2160,
          416
        ],
        "id": "56ec181d-4341-4953-8f40-954e2679586d",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "LkIHzVT9REIIoRbA",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5-nano",
            "mode": "list",
            "cachedResultName": "gpt-5-nano"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          2256,
          512
        ],
        "id": "c044cbef-92d8-4b2c-bc5c-722fb8bed835",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "zI8kGOIzPCNm14vJ",
            "name": "OpenAi account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get Podcasts List",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Podcasts List": {
        "main": [
          [
            {
              "node": "Filter Today's Episodes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Today's Episodes": {
        "main": [
          [
            {
              "node": "Filter New Episodes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter New Episodes": {
        "main": [
          [
            {
              "node": "Download Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Audio": {
        "main": [
          [
            {
              "node": "Check File Size",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check File Size": {
        "main": [
          [
            {
              "node": "Compress Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compress Audio": {
        "main": [
          [
            {
              "node": "Send to Whisper",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Whisper": {
        "main": [
          [
            {
              "node": "Prepare Translation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Translation": {
        "main": [
          [
            {
              "node": "Translate to Russian",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Translate to Russian": {
        "main": [
          [
            {
              "node": "Save to Cache",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Translate to Russian",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Translate to Russian",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      }
    },
    "authors": "Serhii Bal",
    "name": "Version 95098139",
    "description": "",
    "autosaved": false
  },
  "tags": []
}