workflows/_2026-01-10_21-25.json
{
  "updatedAt": "2026-01-10T16:39:59.618Z",
  "createdAt": "2026-01-10T15:00:55.137Z",
  "id": "awGj1ThpcV628C7q",
  "name": "My workflow",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "events": [
          "update"
        ]
      },
      "type": "n8n-nodes-base.n8nTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d8eea47a-eab4-4d15-9963-7580e920008d",
      "name": "n8n Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.workflow_id }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "801aaf66-7c16-4659-8165-23821ad434cf",
      "name": "Get a workflow",
      "credentials": {
        "n8nApi": {
          "id": "RgQYRxAhaz2Zzqei",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Sergey0703",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nbackup",
          "mode": "name"
        },
        "filePath": "=workflows/{{ $('n8n Trigger').item.json.workflow.name }}_{{ $now.toFormat('yyyy-MM-dd_HH-mm') }}.json",
        "fileContent": "={{ JSON.stringify($('Get a workflow').item.json, null, 2) }}",
        "commitMessage": "ok"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "7c18c934-ee1d-475b-802e-96be326ec1c2",
      "name": "Create a file",
      "webhookId": "6aecbc8d-6f11-4f1e-9413-cdc391d4de95",
      "credentials": {
        "githubApi": {
          "id": "ThQvhzvihMnmBvfe",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "n8n Trigger": {
      "main": [
        [
          {
            "node": "Get a workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a workflow": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "df1dace5-bd13-4c08-80c1-4d35741b1587",
  "activeVersionId": "df1dace5-bd13-4c08-80c1-4d35741b1587",
  "versionCounter": 7,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-10T15:00:55.137Z",
      "createdAt": "2026-01-10T15:00:55.137Z",
      "role": "workflow:owner",
      "workflowId": "awGj1ThpcV628C7q",
      "projectId": "jNVg0G6i9vrm7uSd",
      "project": {
        "updatedAt": "2025-12-22T15:46:45.597Z",
        "createdAt": "2025-12-22T15:36:04.197Z",
        "id": "jNVg0G6i9vrm7uSd",
        "name": "Serhii Bal <sergey070373@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "3274b772-e55c-406f-b023-f87b7b56cf91",
        "projectRelations": [
          {
            "updatedAt": "2025-12-22T15:36:04.197Z",
            "createdAt": "2025-12-22T15:36:04.197Z",
            "userId": "3274b772-e55c-406f-b023-f87b7b56cf91",
            "projectId": "jNVg0G6i9vrm7uSd",
            "user": {
              "updatedAt": "2026-01-09T22:09:40.500Z",
              "createdAt": "2025-12-22T15:36:01.327Z",
              "id": "3274b772-e55c-406f-b023-f87b7b56cf91",
              "email": "sergey070373@gmail.com",
              "firstName": "Serhii",
              "lastName": "Bal",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-22T15:47:42.439Z",
                "personalization_survey_n8n_version": "2.1.2"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "hcue8mjNt49UqJ6B",
                "userActivatedAt": 1766602803810,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767119108186
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-09",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-10T16:40:03.869Z",
    "createdAt": "2026-01-10T16:39:59.621Z",
    "versionId": "df1dace5-bd13-4c08-80c1-4d35741b1587",
    "workflowId": "awGj1ThpcV628C7q",
    "nodes": [
      {
        "parameters": {
          "events": [
            "update"
          ]
        },
        "type": "n8n-nodes-base.n8nTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "d8eea47a-eab4-4d15-9963-7580e920008d",
        "name": "n8n Trigger"
      },
      {
        "parameters": {
          "operation": "get",
          "workflowId": {
            "__rl": true,
            "value": "={{ $json.workflow_id }}",
            "mode": "id"
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          208,
          0
        ],
        "id": "801aaf66-7c16-4659-8165-23821ad434cf",
        "name": "Get a workflow",
        "credentials": {
          "n8nApi": {
            "id": "RgQYRxAhaz2Zzqei",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "Sergey0703",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8nbackup",
            "mode": "name"
          },
          "filePath": "=workflows/{{ $('n8n Trigger').item.json.workflow.name }}_{{ $now.toFormat('yyyy-MM-dd_HH-mm') }}.json",
          "fileContent": "={{ JSON.stringify($('Get a workflow').item.json, null, 2) }}",
          "commitMessage": "ok"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          416,
          0
        ],
        "id": "7c18c934-ee1d-475b-802e-96be326ec1c2",
        "name": "Create a file",
        "webhookId": "6aecbc8d-6f11-4f1e-9413-cdc391d4de95",
        "credentials": {
          "githubApi": {
            "id": "ThQvhzvihMnmBvfe",
            "name": "GitHub account"
          }
        }
      }
    ],
    "connections": {
      "n8n Trigger": {
        "main": [
          [
            {
              "node": "Get a workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a workflow": {
        "main": [
          [
            {
              "node": "Create a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Serhii Bal",
    "name": "Version df1dace5",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-10T16:40:03.863Z",
        "id": 81,
        "workflowId": "awGj1ThpcV628C7q",
        "versionId": "df1dace5-bd13-4c08-80c1-4d35741b1587",
        "event": "activated",
        "userId": "3274b772-e55c-406f-b023-f87b7b56cf91"
      }
    ]
  }
}