workflows/DxnyDCVptGINm9tP_API___Check_Podcast_Transcripts_2026-02-13_00-00-34.json
{
  "updatedAt": "2026-02-07T19:24:53.066Z",
  "createdAt": "2026-02-07T19:24:35.776Z",
  "id": "DxnyDCVptGINm9tP",
  "name": "API - Check Podcast Transcripts",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        256,
        300
      ],
      "parameters": {
        "path": "check-transcripts",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "webhookId": "check-transcripts",
      "onError": "continueRegularOutput"
    },
    {
      "id": "code-1",
      "name": "Get Audio URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "parameters": {
        "jsCode": "const urls = $input.first().json.query?.urls;\nif (!urls) {\n  return [{ json: {} }];\n}\n\nconst urlArray = urls.split(',');\nreturn urlArray.map(url => ({ json: { audioUrl: url.trim() } }));"
      }
    },
    {
      "id": "check-each",
      "name": "Check Each URL",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        700,
        300
      ],
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "value": "w8Wf2jE8RjoI2FkO",
          "mode": "list",
          "cachedResultName": "podcast_transcripts"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "audio_url",
              "keyValue": "={{ $json.audioUrl }}"
            }
          ]
        }
      }
    },
    {
      "id": "code-2",
      "name": "Format Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = {};\nfor (const item of $input.all()) {\n  if (item.json.audioUrl) {\n    results[item.json.audioUrl] = true;\n  }\n}\nreturn [{ json: results }];"
      }
    },
    {
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1140,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Cache-Control",
                "value": "no-cache, no-store, must-revalidate"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Audio URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio URLs": {
      "main": [
        [
          {
            "node": "Check Each URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Each URL": {
      "main": [
        [
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Results": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "10aaad1c-6c68-4f16-a636-84ddb48c79a6",
  "activeVersionId": "10aaad1c-6c68-4f16-a636-84ddb48c79a6",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-07T19:24:35.776Z",
      "createdAt": "2026-02-07T19:24:35.776Z",
      "role": "workflow:owner",
      "workflowId": "DxnyDCVptGINm9tP",
      "projectId": "jNVg0G6i9vrm7uSd"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-07T20:06:44.426Z",
    "createdAt": "2026-02-07T19:24:35.791Z",
    "versionId": "10aaad1c-6c68-4f16-a636-84ddb48c79a6",
    "workflowId": "DxnyDCVptGINm9tP",
    "nodes": [
      {
        "id": "webhook-1",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          256,
          300
        ],
        "parameters": {
          "path": "check-transcripts",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "*"
          }
        },
        "webhookId": "check-transcripts",
        "onError": "continueRegularOutput"
      },
      {
        "id": "code-1",
        "name": "Get Audio URLs",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          300
        ],
        "parameters": {
          "jsCode": "const urls = $input.first().json.query?.urls;\nif (!urls) {\n  return [{ json: {} }];\n}\n\nconst urlArray = urls.split(',');\nreturn urlArray.map(url => ({ json: { audioUrl: url.trim() } }));"
        }
      },
      {
        "id": "check-each",
        "name": "Check Each URL",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          700,
          300
        ],
        "parameters": {
          "operation": "rowExists",
          "dataTableId": {
            "__rl": true,
            "value": "w8Wf2jE8RjoI2FkO",
            "mode": "list",
            "cachedResultName": "podcast_transcripts"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "audio_url",
                "keyValue": "={{ $json.audioUrl }}"
              }
            ]
          }
        }
      },
      {
        "id": "code-2",
        "name": "Format Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          920,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const results = {};\nfor (const item of $input.all()) {\n  if (item.json.audioUrl) {\n    results[item.json.audioUrl] = true;\n  }\n}\nreturn [{ json: results }];"
        }
      },
      {
        "id": "respond-1",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1140,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                },
                {
                  "name": "Cache-Control",
                  "value": "no-cache, no-store, must-revalidate"
                }
              ]
            }
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Get Audio URLs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Audio URLs": {
        "main": [
          [
            {
              "node": "Check Each URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Each URL": {
        "main": [
          [
            {
              "node": "Format Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Results": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Serhii Bal",
    "name": "Version 10aaad1c",
    "description": "",
    "autosaved": false
  },
  "tags": []
}