workflows/hXdItAoWFNQplZXL_API___Mark_Word_Repeat_2026-02-03_00-00-19.json
{
  "updatedAt": "2026-02-02T16:01:33.508Z",
  "createdAt": "2026-01-25T14:59:12.373Z",
  "id": "hXdItAoWFNQplZXL",
  "name": "API - Mark Word Repeat",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "mark-repeat",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "mark-repeat-webhook"
    },
    {
      "id": "code-parse",
      "name": "Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ],
      "parameters": {
        "jsCode": "const wordId = $json.body?.wordId;\n\nif (!wordId) {\n  throw new Error('wordId is required');\n}\n\nreturn [{ json: { _id: wordId, stage: 'repeat', trainDate: new Date() } }];"
      }
    },
    {
      "id": "mongo-update",
      "name": "Update Word Stage",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        690,
        300
      ],
      "parameters": {
        "operation": "update",
        "collection": "words",
        "updateKey": "_id",
        "fields": "stage,trainDate",
        "options": {}
      },
      "credentials": {
        "mongoDb": {
          "id": "p5lVP30sDORJCo8v",
          "name": "MongoDB account"
        }
      }
    },
    {
      "id": "code-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        300
      ],
      "parameters": {
        "jsCode": "return [{ json: { success: true, message: 'Word marked for repeat' } }];"
      }
    },
    {
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1130,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "Update Word Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Word Stage": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "c9cce46d-7da2-4de8-9518-9ee45ac84c87",
  "activeVersionId": "c9cce46d-7da2-4de8-9518-9ee45ac84c87",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-25T14:59:12.373Z",
      "createdAt": "2026-01-25T14:59:12.373Z",
      "role": "workflow:owner",
      "workflowId": "hXdItAoWFNQplZXL",
      "projectId": "jNVg0G6i9vrm7uSd"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-02T16:01:33.511Z",
    "createdAt": "2026-02-02T16:01:33.511Z",
    "versionId": "c9cce46d-7da2-4de8-9518-9ee45ac84c87",
    "workflowId": "hXdItAoWFNQplZXL",
    "nodes": [
      {
        "id": "webhook-1",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          250,
          300
        ],
        "parameters": {
          "path": "mark-repeat",
          "httpMethod": "POST",
          "responseMode": "responseNode",
          "options": {}
        },
        "webhookId": "mark-repeat-webhook"
      },
      {
        "id": "code-parse",
        "name": "Parse Request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          470,
          300
        ],
        "parameters": {
          "jsCode": "const wordId = $json.body?.wordId;\n\nif (!wordId) {\n  throw new Error('wordId is required');\n}\n\nreturn [{ json: { _id: wordId, stage: 'repeat', trainDate: new Date() } }];"
        }
      },
      {
        "id": "mongo-update",
        "name": "Update Word Stage",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          690,
          300
        ],
        "parameters": {
          "operation": "update",
          "collection": "words",
          "updateKey": "_id",
          "fields": "stage,trainDate",
          "options": {}
        },
        "credentials": {
          "mongoDb": {
            "id": "p5lVP30sDORJCo8v",
            "name": "MongoDB account"
          }
        }
      },
      {
        "id": "code-response",
        "name": "Format Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          910,
          300
        ],
        "parameters": {
          "jsCode": "return [{ json: { success: true, message: 'Word marked for repeat' } }];"
        }
      },
      {
        "id": "respond-1",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1130,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                },
                {
                  "name": "Access-Control-Allow-Methods",
                  "value": "POST, OPTIONS"
                },
                {
                  "name": "Access-Control-Allow-Headers",
                  "value": "Content-Type"
                }
              ]
            }
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Parse Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Request": {
        "main": [
          [
            {
              "node": "Update Word Stage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Word Stage": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Response": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Serhii Bal",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}