workflows/LnaYnUVhprw2VbCD_API___Audio_Proxy_Stream_2026-02-09_00-00-04.json
{
  "updatedAt": "2026-02-06T17:52:05.539Z",
  "createdAt": "2026-02-06T17:52:05.539Z",
  "id": "LnaYnUVhprw2VbCD",
  "name": "API - Audio Proxy Stream",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "audio-proxy-stream-456",
      "parameters": {
        "path": "audio-proxy",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "code-1",
      "name": "Get URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const url = $input.first().json.query.url;\nif (!url) {\n  throw new Error('URL parameter required');\n}\nreturn [{ json: { audioUrl: url } }];"
      }
    },
    {
      "id": "http-1",
      "name": "Fetch Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        650,
        300
      ],
      "parameters": {
        "url": "={{ $json.audioUrl }}",
        "method": "GET",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "file"
            }
          }
        }
      }
    },
    {
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "audio/mpeg"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Accept-Ranges",
                "value": "bytes"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get URL": {
      "main": [
        [
          {
            "node": "Fetch Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Audio": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "624888de-c836-4089-80ef-e61ceaa94fc0",
  "activeVersionId": "624888de-c836-4089-80ef-e61ceaa94fc0",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-06T17:52:05.539Z",
      "createdAt": "2026-02-06T17:52:05.539Z",
      "role": "workflow:owner",
      "workflowId": "LnaYnUVhprw2VbCD",
      "projectId": "jNVg0G6i9vrm7uSd"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-06T17:57:17.794Z",
    "createdAt": "2026-02-06T17:52:05.558Z",
    "versionId": "624888de-c836-4089-80ef-e61ceaa94fc0",
    "workflowId": "LnaYnUVhprw2VbCD",
    "nodes": [
      {
        "id": "webhook-1",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          250,
          300
        ],
        "webhookId": "audio-proxy-stream-456",
        "parameters": {
          "path": "audio-proxy",
          "responseMode": "responseNode",
          "options": {}
        }
      },
      {
        "id": "code-1",
        "name": "Get URL",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          450,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const url = $input.first().json.query.url;\nif (!url) {\n  throw new Error('URL parameter required');\n}\nreturn [{ json: { audioUrl: url } }];"
        }
      },
      {
        "id": "http-1",
        "name": "Fetch Audio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          650,
          300
        ],
        "parameters": {
          "url": "={{ $json.audioUrl }}",
          "method": "GET",
          "options": {
            "redirect": {
              "redirect": {
                "followRedirects": true,
                "maxRedirects": 5
              }
            },
            "response": {
              "response": {
                "neverError": true,
                "responseFormat": "file"
              }
            }
          }
        }
      },
      {
        "id": "respond-1",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          850,
          300
        ],
        "parameters": {
          "respondWith": "binary",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "audio/mpeg"
                },
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                },
                {
                  "name": "Accept-Ranges",
                  "value": "bytes"
                }
              ]
            }
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Get URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get URL": {
        "main": [
          [
            {
              "node": "Fetch Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Audio": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Serhii Bal",
    "name": "Version 624888de",
    "description": "",
    "autosaved": false
  },
  "tags": []
}