workflows/Lxv46meazEf9huJY_API___Get_All_Words_2026-02-01_00-00-29.json
{
  "updatedAt": "2026-01-25T18:30:05.703Z",
  "createdAt": "2026-01-24T18:12:23.375Z",
  "id": "Lxv46meazEf9huJY",
  "name": "API - Get All Words",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "words-all",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "dict-api-webhook-123"
    },
    {
      "parameters": {
        "collection": "words",
        "options": {
          "limit": 200,
          "sort": "{ \"trainDate\": 1 }"
        }
      },
      "id": "mongo-words",
      "name": "MongoDB: Get All Words",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "credentials": {
        "mongoDb": {
          "id": "p5lVP30sDORJCo8v",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const words = $('MongoDB: Get All Words').all().map(item => {\n  const data = item.json;\n  const wordLower = data.word.toLowerCase();\n  const audioUrl = `https://vocab.aimediaflow.net/audio/${encodeURIComponent(wordLower)}.mp3`;\n  \n  return {\n    _id: data._id,\n    word: data.word,\n    translate: data.translate,\n    transcript: data.transcript || '',\n    audio: audioUrl\n  };\n});\n\nreturn [{ json: { \n  words: words,\n  total: words.length\n} }];"
      },
      "id": "code-format",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "stage",
              "value": "new",
              "type": "string",
              "id": "7298d14d-a5cc-4084-b83a-0b54ce9c7d32"
            },
            {
              "name": "trainDate",
              "value": "={{ new Date() }}",
              "type": "object",
              "id": "1e28a1ed-978e-4e18-8007-9ea4b77dff07"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "set-fields-update",
      "name": "Prepare Update Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        160
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "words",
        "updateKey": "_id",
        "fields": "stage,trainDate",
        "options": {}
      },
      "id": "mongo-update",
      "name": "MongoDB: Update Stage",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        560,
        160
      ],
      "credentials": {
        "mongoDb": {
          "id": "p5lVP30sDORJCo8v",
          "name": "MongoDB account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "MongoDB: Get All Words",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB: Get All Words": {
      "main": [
        [
          {
            "node": "Prepare Update Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update Fields": {
      "main": [
        [
          {
            "node": "MongoDB: Update Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB: Update Stage": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "429fe9a9-5c21-42bc-8140-1818ca0c3f29",
  "activeVersionId": "429fe9a9-5c21-42bc-8140-1818ca0c3f29",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-24T18:12:23.375Z",
      "createdAt": "2026-01-24T18:12:23.375Z",
      "role": "workflow:owner",
      "workflowId": "Lxv46meazEf9huJY",
      "projectId": "jNVg0G6i9vrm7uSd"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-25T18:30:08.850Z",
    "createdAt": "2026-01-25T18:30:05.707Z",
    "versionId": "429fe9a9-5c21-42bc-8140-1818ca0c3f29",
    "workflowId": "Lxv46meazEf9huJY",
    "nodes": [
      {
        "parameters": {
          "path": "words-all",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-1",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "webhookId": "dict-api-webhook-123"
      },
      {
        "parameters": {
          "collection": "words",
          "options": {
            "limit": 200,
            "sort": "{ \"trainDate\": 1 }"
          }
        },
        "id": "mongo-words",
        "name": "MongoDB: Get All Words",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          224,
          0
        ],
        "credentials": {
          "mongoDb": {
            "id": "p5lVP30sDORJCo8v",
            "name": "MongoDB account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const words = $('MongoDB: Get All Words').all().map(item => {\n  const data = item.json;\n  const wordLower = data.word.toLowerCase();\n  const audioUrl = `https://vocab.aimediaflow.net/audio/${encodeURIComponent(wordLower)}.mp3`;\n  \n  return {\n    _id: data._id,\n    word: data.word,\n    translate: data.translate,\n    transcript: data.transcript || '',\n    audio: audioUrl\n  };\n});\n\nreturn [{ json: { \n  words: words,\n  total: words.length\n} }];"
        },
        "id": "code-format",
        "name": "Format Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "respond-1",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          672,
          0
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "stage",
                "value": "new",
                "type": "string",
                "id": "7298d14d-a5cc-4084-b83a-0b54ce9c7d32"
              },
              {
                "name": "trainDate",
                "value": "={{ new Date() }}",
                "type": "object",
                "id": "1e28a1ed-978e-4e18-8007-9ea4b77dff07"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "set-fields-update",
        "name": "Prepare Update Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          336,
          160
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "collection": "words",
          "updateKey": "_id",
          "fields": "stage,trainDate",
          "options": {}
        },
        "id": "mongo-update",
        "name": "MongoDB: Update Stage",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          560,
          160
        ],
        "credentials": {
          "mongoDb": {
            "id": "p5lVP30sDORJCo8v",
            "name": "MongoDB account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "MongoDB: Get All Words",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MongoDB: Get All Words": {
        "main": [
          [
            {
              "node": "Prepare Update Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Response": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Update Fields": {
        "main": [
          [
            {
              "node": "MongoDB: Update Stage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MongoDB: Update Stage": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Serhii Bal",
    "name": "Version 429fe9a9",
    "description": "",
    "autosaved": false
  },
  "tags": []
}