workflows/mDgiKAx6dN52uGNZ_API___Get_Repeat_Words_2026-01-22_00-00-10.json
{
  "updatedAt": "2026-01-20T22:46:36.452Z",
  "createdAt": "2026-01-20T18:46:00.233Z",
  "id": "mDgiKAx6dN52uGNZ",
  "name": "API - Get Repeat Words",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "path": "words-repeat",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    },
    {
      "id": "code-params",
      "name": "Parse Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "jsCode": "const query = $input.first().json.query || {};\nconst page = parseInt(query.page) || 1;\nconst limit = parseInt(query.limit) || 20;\nconst skip = (page - 1) * limit;\n\nreturn [{ json: { page, limit, skip } }];"
      }
    },
    {
      "id": "mongo-count",
      "name": "MongoDB: Count Total",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "parameters": {
        "operation": "aggregate",
        "collection": "words",
        "query": "=[{\"$match\": {\"stage\": \"repeat\"}}, {\"$count\": \"total\"}]",
        "options": {}
      },
      "credentials": {
        "mongoDb": {
          "id": "p5lVP30sDORJCo8v",
          "name": "MongoDB account"
        }
      }
    },
    {
      "id": "code-store-total",
      "name": "Store Total",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "parameters": {
        "jsCode": "const total = $input.first().json.total || 0;\nconst params = $('Parse Parameters').first().json;\n\nreturn [{ json: { total, page: params.page, limit: params.limit, skip: params.skip } }];"
      }
    },
    {
      "id": "mongo-words",
      "name": "MongoDB: Get Words Page",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ],
      "parameters": {
        "operation": "aggregate",
        "collection": "words",
        "query": "=[{\"$match\": {\"stage\": \"repeat\"}}, {\"$skip\": {{ $json.skip }} }, {\"$limit\": {{ $json.limit }} }]",
        "options": {}
      },
      "credentials": {
        "mongoDb": {
          "id": "p5lVP30sDORJCo8v",
          "name": "MongoDB account"
        }
      }
    },
    {
      "id": "code-1",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ],
      "parameters": {
        "jsCode": "const params = $('Store Total').first().json;\nconst total = params.total;\nconst page = params.page;\nconst limit = params.limit;\n\nconst words = $input.all().map(item => {\n  const data = item.json;\n  \n  // Generate local audio URL based on word\n  const wordLower = data.word.toLowerCase();\n  const audioUrl = `https://vocab.aimediaflow.net/audio/${encodeURIComponent(wordLower)}.mp3`;\n  \n  return {\n    _id: data._id,\n    word: data.word,\n    translate: data.translate,\n    transcript: data.transcript || '',\n    audio: audioUrl,\n    example: data.example || ''\n  };\n});\n\nreturn [{ json: { \n  words, \n  count: words.length, \n  total,\n  page,\n  limit,\n  hasMore: (page * limit) < total\n} }];"
      }
    },
    {
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Parameters": {
      "main": [
        [
          {
            "node": "MongoDB: Count Total",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB: Count Total": {
      "main": [
        [
          {
            "node": "Store Total",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Total": {
      "main": [
        [
          {
            "node": "MongoDB: Get Words Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB: Get Words Page": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "a506ae49-c338-466b-884d-dfb08ebbb976",
  "activeVersionId": "a506ae49-c338-466b-884d-dfb08ebbb976",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-20T18:46:00.233Z",
      "createdAt": "2026-01-20T18:46:00.233Z",
      "role": "workflow:owner",
      "workflowId": "mDgiKAx6dN52uGNZ",
      "projectId": "jNVg0G6i9vrm7uSd"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-20T22:46:36.455Z",
    "createdAt": "2026-01-20T22:46:36.455Z",
    "versionId": "a506ae49-c338-466b-884d-dfb08ebbb976",
    "workflowId": "mDgiKAx6dN52uGNZ",
    "nodes": [
      {
        "id": "webhook-1",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "parameters": {
          "path": "words-repeat",
          "responseMode": "responseNode",
          "options": {}
        },
        "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
      },
      {
        "id": "code-params",
        "name": "Parse Parameters",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          220,
          0
        ],
        "parameters": {
          "jsCode": "const query = $input.first().json.query || {};\nconst page = parseInt(query.page) || 1;\nconst limit = parseInt(query.limit) || 20;\nconst skip = (page - 1) * limit;\n\nreturn [{ json: { page, limit, skip } }];"
        }
      },
      {
        "id": "mongo-count",
        "name": "MongoDB: Count Total",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          440,
          0
        ],
        "parameters": {
          "operation": "aggregate",
          "collection": "words",
          "query": "=[{\"$match\": {\"stage\": \"repeat\"}}, {\"$count\": \"total\"}]",
          "options": {}
        },
        "credentials": {
          "mongoDb": {
            "id": "p5lVP30sDORJCo8v",
            "name": "MongoDB account"
          }
        }
      },
      {
        "id": "code-store-total",
        "name": "Store Total",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          660,
          0
        ],
        "parameters": {
          "jsCode": "const total = $input.first().json.total || 0;\nconst params = $('Parse Parameters').first().json;\n\nreturn [{ json: { total, page: params.page, limit: params.limit, skip: params.skip } }];"
        }
      },
      {
        "id": "mongo-words",
        "name": "MongoDB: Get Words Page",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          880,
          0
        ],
        "parameters": {
          "operation": "aggregate",
          "collection": "words",
          "query": "=[{\"$match\": {\"stage\": \"repeat\"}}, {\"$skip\": {{ $json.skip }} }, {\"$limit\": {{ $json.limit }} }]",
          "options": {}
        },
        "credentials": {
          "mongoDb": {
            "id": "p5lVP30sDORJCo8v",
            "name": "MongoDB account"
          }
        }
      },
      {
        "id": "code-1",
        "name": "Format Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1100,
          0
        ],
        "parameters": {
          "jsCode": "const params = $('Store Total').first().json;\nconst total = params.total;\nconst page = params.page;\nconst limit = params.limit;\n\nconst words = $input.all().map(item => {\n  const data = item.json;\n  \n  // Generate local audio URL based on word\n  const wordLower = data.word.toLowerCase();\n  const audioUrl = `https://vocab.aimediaflow.net/audio/${encodeURIComponent(wordLower)}.mp3`;\n  \n  return {\n    _id: data._id,\n    word: data.word,\n    translate: data.translate,\n    transcript: data.transcript || '',\n    audio: audioUrl,\n    example: data.example || ''\n  };\n});\n\nreturn [{ json: { \n  words, \n  count: words.length, \n  total,\n  page,\n  limit,\n  hasMore: (page * limit) < total\n} }];"
        }
      },
      {
        "id": "respond-1",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1320,
          0
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}"
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Parse Parameters",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Parameters": {
        "main": [
          [
            {
              "node": "MongoDB: Count Total",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MongoDB: Count Total": {
        "main": [
          [
            {
              "node": "Store Total",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Store Total": {
        "main": [
          [
            {
              "node": "MongoDB: Get Words Page",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MongoDB: Get Words Page": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Response": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Serhii Bal",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}