workflows/My_workflow_2026-01-10_22-01-50.json
{
  "updatedAt": "2026-01-10T20:01:42.670Z",
  "createdAt": "2026-01-10T15:00:55.137Z",
  "id": "awGj1ThpcV628C7q",
  "name": "My workflow",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Sergey0703",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nbackup",
          "mode": "name"
        },
        "filePath": "=workflows/{{ $json.name.replace(/[^a-z0-9]/gi, '_') }}_{{ $now.toFormat('yyyy-MM-dd_HH-mm-ss') }}.json",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "ok"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "7c18c934-ee1d-475b-802e-96be326ec1c2",
      "name": "Create a file",
      "webhookId": "6aecbc8d-6f11-4f1e-9413-cdc391d4de95",
      "credentials": {
        "githubApi": {
          "id": "ThQvhzvihMnmBvfe",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "108a99a3-db77-4d24-a2f0-ef5cf24ee21c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "801aaf66-7c16-4659-8165-23821ad434cf",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "RgQYRxAhaz2Zzqei",
          "name": "n8n account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "74bcfb70-90eb-4adc-957a-b304363ba110",
  "activeVersionId": "01edee54-bca0-4249-b1a6-c1c497fc504e",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-10T15:00:55.137Z",
      "createdAt": "2026-01-10T15:00:55.137Z",
      "role": "workflow:owner",
      "workflowId": "awGj1ThpcV628C7q",
      "projectId": "jNVg0G6i9vrm7uSd"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-10T19:56:39.844Z",
    "createdAt": "2026-01-10T19:56:36.729Z",
    "versionId": "01edee54-bca0-4249-b1a6-c1c497fc504e",
    "workflowId": "awGj1ThpcV628C7q",
    "nodes": [
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "Sergey0703",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8nbackup",
            "mode": "name"
          },
          "filePath": "=workflows/{{ $json.name }}_{{ $now.toFormat('yyyy-MM-dd_HH-mm') }}.json",
          "fileContent": "={{ JSON.stringify($json, null, 2) }}",
          "commitMessage": "ok"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          416,
          0
        ],
        "id": "7c18c934-ee1d-475b-802e-96be326ec1c2",
        "name": "Create a file",
        "webhookId": "6aecbc8d-6f11-4f1e-9413-cdc391d4de95",
        "credentials": {
          "githubApi": {
            "id": "ThQvhzvihMnmBvfe",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "id": "108a99a3-db77-4d24-a2f0-ef5cf24ee21c",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          208,
          0
        ],
        "id": "801aaf66-7c16-4659-8165-23821ad434cf",
        "name": "Get many workflows",
        "credentials": {
          "n8nApi": {
            "id": "RgQYRxAhaz2Zzqei",
            "name": "n8n account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get many workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows": {
        "main": [
          [
            {
              "node": "Create a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Serhii Bal",
    "name": "Version 01edee54",
    "description": "",
    "autosaved": false
  },
  "tags": []
}