workflows/nCQr8FmPFzqGWoVb_API___Translate_Word_2026-02-13_00-00-50.json
{
  "updatedAt": "2026-02-11T19:59:58.747Z",
  "createdAt": "2026-02-11T17:07:03.850Z",
  "id": "nCQr8FmPFzqGWoVb",
  "name": "API - Translate Word",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "translate-word",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        20
      ],
      "webhookId": "translate-word-webhook-v2"
    },
    {
      "parameters": {
        "jsCode": "const query = $input.first().json.query || {};\nconst word = (query.word || '').trim();\nif (!word) throw new Error('word parameter is required');\nreturn [{ json: { word: word.toLowerCase() } }];"
      },
      "id": "code-parse",
      "name": "Parse Word",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        20
      ]
    },
    {
      "parameters": {
        "collection": "words",
        "options": {
          "limit": 1
        },
        "query": "={{ JSON.stringify({ word: $json.word }) }}"
      },
      "id": "mongo-find",
      "name": "MongoDB: Find Word",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        736,
        -128
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "p5lVP30sDORJCo8v",
          "name": "MongoDB account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst hasWord = item && item.word && !item.error;\nif (hasWord) {\n  return [{ json: {\n    source: 'database',\n    word: item.word,\n    translate: item.translate || '',\n    transcript: item.transcript || '',\n    partOfSpeech: item.partOfSpeech || '',\n    example: item.example || ''\n  }}];\n}\n// Not found - return empty marker\nreturn [{ json: { source: 'database', word: $('Parse Word').first().json.word, translate: '' } }];"
      },
      "id": "code-db-result",
      "name": "Format DB Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "const word = $json.word;\nconst prompt = `You are an English dictionary. For the word \"${word}\" provide a JSON response:\\n{\"translate\": \"Russian translation\", \"transcript\": \"/IPA/\", \"partOfSpeech\": \"noun|verb|adjective|adverb\", \"example\": \"short example sentence\"}\\n\\nRespond ONLY with valid JSON, no markdown:`;\nreturn [{ json: { word, prompt } }];"
      },
      "id": "code-ai-prompt",
      "name": "Prepare AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        168
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "needsFallback": true,
        "batching": {}
      },
      "id": "llm-chain",
      "name": "Gemini: Translate",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        672,
        168
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "gemini-model",
      "name": "Google Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        744,
        392
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "LkIHzVT9REIIoRbA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const word = $('Prepare AI Prompt').first().json.word;\nconst rawText = $json.text || '';\nlet parsed = {};\ntry {\n  const cleaned = rawText.replace(/```json\\n?/gi, '').replace(/```\\n?/gi, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { translate: rawText, transcript: '', partOfSpeech: '', example: '' };\n}\nreturn [{ json: { source: 'ai', word, translate: parsed.translate || '', transcript: parsed.transcript || '', partOfSpeech: parsed.partOfSpeech || '', example: parsed.example || '' } }];"
      },
      "id": "code-parse-ai",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        168
      ]
    },
    {
      "parameters": {},
      "id": "merge-1",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1248,
        20
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n// Prefer database result if it has a translation\nconst dbResult = items.find(i => i.json.source === 'database' && i.json.translate);\nconst aiResult = items.find(i => i.json.source === 'ai' && i.json.translate);\nconst best = dbResult || aiResult;\nif (!best) return [{ json: { error: 'Translation not found' } }];\nreturn [{ json: best.json }];"
      },
      "id": "code-pick",
      "name": "Pick Best Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        20
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1696,
        20
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        560,
        384
      ],
      "id": "2db45278-6178-4dae-b628-690cb3791f6d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zI8kGOIzPCNm14vJ",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Word",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Word": {
      "main": [
        [
          {
            "node": "MongoDB: Find Word",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB: Find Word": {
      "main": [
        [
          {
            "node": "Format DB Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format DB Result": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Prompt": {
      "main": [
        [
          {
            "node": "Gemini: Translate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini: Translate",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Translate": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Pick Best Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Best Result": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini: Translate",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0daea003-7199-4c47-ad77-2cc5344cf337",
  "activeVersionId": "0daea003-7199-4c47-ad77-2cc5344cf337",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-11T17:07:03.850Z",
      "createdAt": "2026-02-11T17:07:03.850Z",
      "role": "workflow:owner",
      "workflowId": "nCQr8FmPFzqGWoVb",
      "projectId": "jNVg0G6i9vrm7uSd"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-11T20:00:02.108Z",
    "createdAt": "2026-02-11T19:59:58.750Z",
    "versionId": "0daea003-7199-4c47-ad77-2cc5344cf337",
    "workflowId": "nCQr8FmPFzqGWoVb",
    "nodes": [
      {
        "parameters": {
          "path": "translate-word",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-1",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          20
        ],
        "webhookId": "translate-word-webhook-v2"
      },
      {
        "parameters": {
          "jsCode": "const query = $input.first().json.query || {};\nconst word = (query.word || '').trim();\nif (!word) throw new Error('word parameter is required');\nreturn [{ json: { word: word.toLowerCase() } }];"
        },
        "id": "code-parse",
        "name": "Parse Word",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          20
        ]
      },
      {
        "parameters": {
          "collection": "words",
          "options": {
            "limit": 1
          },
          "query": "={{ JSON.stringify({ word: $json.word }) }}"
        },
        "id": "mongo-find",
        "name": "MongoDB: Find Word",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          736,
          -128
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mongoDb": {
            "id": "p5lVP30sDORJCo8v",
            "name": "MongoDB account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst hasWord = item && item.word && !item.error;\nif (hasWord) {\n  return [{ json: {\n    source: 'database',\n    word: item.word,\n    translate: item.translate || '',\n    transcript: item.transcript || '',\n    partOfSpeech: item.partOfSpeech || '',\n    example: item.example || ''\n  }}];\n}\n// Not found - return empty marker\nreturn [{ json: { source: 'database', word: $('Parse Word').first().json.word, translate: '' } }];"
        },
        "id": "code-db-result",
        "name": "Format DB Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1024,
          -128
        ]
      },
      {
        "parameters": {
          "jsCode": "const word = $json.word;\nconst prompt = `You are an English dictionary. For the word \"${word}\" provide a JSON response:\\n{\"translate\": \"Russian translation\", \"transcript\": \"/IPA/\", \"partOfSpeech\": \"noun|verb|adjective|adverb\", \"example\": \"short example sentence\"}\\n\\nRespond ONLY with valid JSON, no markdown:`;\nreturn [{ json: { word, prompt } }];"
        },
        "id": "code-ai-prompt",
        "name": "Prepare AI Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          168
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.prompt }}",
          "needsFallback": true,
          "batching": {}
        },
        "id": "llm-chain",
        "name": "Gemini: Translate",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.8,
        "position": [
          672,
          168
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "gemini-model",
        "name": "Google Gemini Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          744,
          392
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "LkIHzVT9REIIoRbA",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const word = $('Prepare AI Prompt').first().json.word;\nconst rawText = $json.text || '';\nlet parsed = {};\ntry {\n  const cleaned = rawText.replace(/```json\\n?/gi, '').replace(/```\\n?/gi, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { translate: rawText, transcript: '', partOfSpeech: '', example: '' };\n}\nreturn [{ json: { source: 'ai', word, translate: parsed.translate || '', transcript: parsed.transcript || '', partOfSpeech: parsed.partOfSpeech || '', example: parsed.example || '' } }];"
        },
        "id": "code-parse-ai",
        "name": "Parse AI Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1024,
          168
        ]
      },
      {
        "parameters": {},
        "id": "merge-1",
        "name": "Merge Results",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1248,
          20
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n// Prefer database result if it has a translation\nconst dbResult = items.find(i => i.json.source === 'database' && i.json.translate);\nconst aiResult = items.find(i => i.json.source === 'ai' && i.json.translate);\nconst best = dbResult || aiResult;\nif (!best) return [{ json: { error: 'Translation not found' } }];\nreturn [{ json: best.json }];"
        },
        "id": "code-pick",
        "name": "Pick Best Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1472,
          20
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                },
                {
                  "name": "Access-Control-Allow-Methods",
                  "value": "GET, OPTIONS"
                },
                {
                  "name": "Access-Control-Allow-Headers",
                  "value": "Content-Type"
                }
              ]
            }
          }
        },
        "id": "respond-1",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1696,
          20
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5-mini",
            "mode": "list",
            "cachedResultName": "gpt-5-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          560,
          384
        ],
        "id": "2db45278-6178-4dae-b628-690cb3791f6d",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "zI8kGOIzPCNm14vJ",
            "name": "OpenAi account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Parse Word",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Word": {
        "main": [
          [
            {
              "node": "MongoDB: Find Word",
              "type": "main",
              "index": 0
            },
            {
              "node": "Prepare AI Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MongoDB: Find Word": {
        "main": [
          [
            {
              "node": "Format DB Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format DB Result": {
        "main": [
          [
            {
              "node": "Merge Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare AI Prompt": {
        "main": [
          [
            {
              "node": "Gemini: Translate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Model": {
        "ai_languageModel": [
          [
            {
              "node": "Gemini: Translate",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Gemini: Translate": {
        "main": [
          [
            {
              "node": "Parse AI Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse AI Response": {
        "main": [
          [
            {
              "node": "Merge Results",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge Results": {
        "main": [
          [
            {
              "node": "Pick Best Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pick Best Result": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Gemini: Translate",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      }
    },
    "authors": "Serhii Bal",
    "name": "Version 0daea003",
    "description": "",
    "autosaved": false
  },
  "tags": []
}