workflows/rTo9WhR0sDAn2YkV_API___Get_Vocab_Page_2026-02-15_00-00-45.json
{
  "updatedAt": "2026-02-12T22:45:10.017Z",
  "createdAt": "2026-02-12T19:19:58.863Z",
  "id": "rTo9WhR0sDAn2YkV",
  "name": "API - Get Vocab Page",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-vocab",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "path": "vocab-search",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "vocab-search-webhook-v1"
    },
    {
      "id": "mongo-words",
      "name": "MongoDB: Get Words",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ],
      "parameters": {
        "collection": "words",
        "query": "={{ (() => { const search = ($input.first().json.query.search || '').trim(); return search ? JSON.stringify({ '$or': [{ 'word': { '$regex': search, '$options': 'i' } }, { 'translate': { '$regex': search, '$options': 'i' } }] }) : '{}'; })() }}",
        "options": {
          "limit": 10000,
          "sort": "{ \"word\": 1 }"
        }
      },
      "credentials": {
        "mongoDb": {
          "id": "p5lVP30sDORJCo8v",
          "name": "MongoDB account"
        }
      }
    },
    {
      "id": "code-format",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "jsCode": "const allWords = $('MongoDB: Get Words').all().map(item => {\n  const d = item.json;\n  const w = (d.word || '').toLowerCase();\n  const safe = w.replace(/[^a-z0-9]/gi, '_').replace(/_+/g,'_').replace(/^_|_$/g,'');\n  return {\n    _id: d._id,\n    word: d.word,\n    translate: d.translate || '',\n    transcript: d.transcript || '',\n    partOfSpeech: d.partOfSpeech || '',\n    level: d.level || '',\n    stage: d.stage || 'new',\n    trainDate: d.trainDate || null,\n    sound: d.sound || '',\n    soundRu: d.soundRu || ''\n  };\n});\n\nreturn [{ json: { words: allWords, total: allWords.length } }];"
      }
    },
    {
      "id": "respond-vocab",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "MongoDB: Get Words",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB: Get Words": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "24a972cd-3580-47a2-9c03-6949bc33e5c0",
  "activeVersionId": "24a972cd-3580-47a2-9c03-6949bc33e5c0",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-12T19:19:58.863Z",
      "createdAt": "2026-02-12T19:19:58.863Z",
      "role": "workflow:owner",
      "workflowId": "rTo9WhR0sDAn2YkV",
      "projectId": "jNVg0G6i9vrm7uSd"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-12T22:45:10.022Z",
    "createdAt": "2026-02-12T22:45:10.022Z",
    "versionId": "24a972cd-3580-47a2-9c03-6949bc33e5c0",
    "workflowId": "rTo9WhR0sDAn2YkV",
    "nodes": [
      {
        "id": "webhook-vocab",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "parameters": {
          "path": "vocab-search",
          "responseMode": "responseNode",
          "options": {}
        },
        "webhookId": "vocab-search-webhook-v1"
      },
      {
        "id": "mongo-words",
        "name": "MongoDB: Get Words",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          220,
          0
        ],
        "parameters": {
          "collection": "words",
          "query": "={{ (() => { const search = ($input.first().json.query.search || '').trim(); return search ? JSON.stringify({ '$or': [{ 'word': { '$regex': search, '$options': 'i' } }, { 'translate': { '$regex': search, '$options': 'i' } }] }) : '{}'; })() }}",
          "options": {
            "limit": 10000,
            "sort": "{ \"word\": 1 }"
          }
        },
        "credentials": {
          "mongoDb": {
            "id": "p5lVP30sDORJCo8v",
            "name": "MongoDB account"
          }
        }
      },
      {
        "id": "code-format",
        "name": "Format Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          440,
          0
        ],
        "parameters": {
          "jsCode": "const allWords = $('MongoDB: Get Words').all().map(item => {\n  const d = item.json;\n  const w = (d.word || '').toLowerCase();\n  const safe = w.replace(/[^a-z0-9]/gi, '_').replace(/_+/g,'_').replace(/^_|_$/g,'');\n  return {\n    _id: d._id,\n    word: d.word,\n    translate: d.translate || '',\n    transcript: d.transcript || '',\n    partOfSpeech: d.partOfSpeech || '',\n    level: d.level || '',\n    stage: d.stage || 'new',\n    trainDate: d.trainDate || null,\n    sound: d.sound || '',\n    soundRu: d.soundRu || ''\n  };\n});\n\nreturn [{ json: { words: allWords, total: allWords.length } }];"
        }
      },
      {
        "id": "respond-vocab",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          660,
          0
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "MongoDB: Get Words",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MongoDB: Get Words": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Response": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Serhii Bal",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}