workflows/Smart_Funnel__AI_Digest_Generator_2026-01-15_00-00-27.json
{
  "updatedAt": "2026-01-06T21:14:00.705Z",
  "createdAt": "2026-01-02T18:58:37.147Z",
  "id": "KLtGtt6CkqkMln91",
  "name": "Smart Funnel: AI Digest Generator",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "3c3190d0-e560-419c-ad69-6e2190591669",
      "name": "Schedule: Morning News",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -528,
        -160
      ]
    },
    {
      "parameters": {
        "collection": "words",
        "options": {
          "limit": 10
        },
        "query": "={ \"stage\": \"repeat\" }"
      },
      "id": "078c91bf-182f-4abb-a6d1-b23897b6e6cb",
      "name": "MongoDB: Get Repeat Words",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -304,
        -160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "p5lVP30sDORJCo8v",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "MWNgETzBSi4cAIFo",
          "mode": "list",
          "cachedResultName": "News"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "createdAt",
              "condition": "gte",
              "keyValue": "={{ $today }}"
            }
          ]
        },
        "limit": 2
      },
      "id": "e1a7b45a-9316-4f04-93f1-321ba41be331",
      "name": "Get Fresh News",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -80,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "/* 1. Безопасно получаем слова */\nconst wordItems = $items(\"MongoDB: Get Repeat Words\");\nconst words = wordItems.length > 0\n    ? wordItems.map(i => i.json.word ? i.json.word + \" (\" + i.json.translate + \")\" : null).filter(w => w).join(\", \")\n    : \"\";\n\n/* 2. Собираем новости */\nconst news = $items(\"Get Fresh News\").map(i => \"### \" + i.json.title + \"\\n\" + (i.json.text || \"\")).join(\"\\n\\n\");\n\n/* 3. Готовим части промпта динамически */\nlet vocabTask = \"\";\nlet vocabStructure = \"\";\n\nif (words) {\n    vocabTask = `\\nYou must integrate the following vocabulary words into the narrative naturally: ${words}.`;\n    vocabStructure = `1. Start with a section: \"🎯 <b>Vocabulary Focus:</b>\" and list the target words with their translations (bullet points).\\n2. Insert the separator \"---START_OF_DIGEST---\" on a new line.\\n3. Then write the news digest below it.`;\n} else {\n    vocabTask = \"\\nFocus on generating a clear and engaging summary of the provided news.\";\n    vocabStructure = `1. Start immediately with the separator \"---START_OF_DIGEST---\" on the first line.\\n2. Then write the news digest below it.`;\n}\n\n/* 4. Возвращаем JSON с инструкцией для АУДИО */\nreturn [{ json: {\n    prompt: `Based on the following news articles:\\n\\n${news}\\n\\nTask: Write a cohesive, engaging daily digest (approx 300 words).${vocabTask}\\n\\nStructure of the response:\\n${vocabStructure}\\n\\nRequirements:\\n- Highlight the inserted words in the text in <b>bold</b> (use HTML tags <b>word</b>) if applicable.\\n- Keep the tone professional but conversational.\\n- Ensure the facts from the news are preserved.\\n- <b>CRITICAL FOR AUDIO:</b> Clearly introduce each new story/topic. Use phrases like \"First up regarding [Topic]...\", \"In other news...\", or explicitly state the headline to separate stories. Avoid a wall of text; use paragraph breaks.`\n} }];"
      },
      "id": "b6ab922b-c1a6-498f-951e-af2ff54dcfc0",
      "name": "Prepare AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -160
      ]
    },
    {
      "parameters": {
        "chatId": "940676896",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "da987bcb-d8f6-4935-b4d0-05d98c4bf90e",
      "name": "Telegeram: Send Digest",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        -272
      ],
      "webhookId": "11c3c8ed-ee32-4f5c-adac-3af5ba51e546",
      "credentials": {
        "telegramApi": {
          "id": "44mDjW8nHCGChobZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a professional news editor and English teacher."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        368,
        -160
      ],
      "id": "159a9b23-4cd9-45ff-bf57-f8b2f3790463",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        384,
        64
      ],
      "id": "783e6d46-21f4-41c0-9384-db4019bd54de",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LkIHzVT9REIIoRbA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        512,
        64
      ],
      "id": "ecd2525e-c12c-4fc6-b514-bc441f117875",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zI8kGOIzPCNm14vJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "JnVde1xTjaVHMlMx",
          "mode": "list",
          "cachedResultName": "DailyDigests",
          "cachedResultUrl": "/projects/jNVg0G6i9vrm7uSd/datatables/JnVde1xTjaVHMlMx"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $json.text }}"
          },
          "matchingColumns": [
            "Content"
          ],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "deliveredAt",
              "displayName": "deliveredAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        720,
        -160
      ],
      "id": "0b303e07-3707-4ce6-91b2-7a0004ddf185",
      "name": "Insert row"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kokoro-tts:8880/v1/audio/speech",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    \"input\": $json.text,\n    \"voice\": \"af_bella\",\n    \"response_format\": \"mp3\",\n    \"speed\": 1.0\n  })\n}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1136,
        -48
      ],
      "id": "34f02088-0658-465e-aef3-0c6992fb5202",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "940676896",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1568,
        -48
      ],
      "id": "d65a18c4-a412-4d89-a2e8-6827c3ae9f10",
      "name": "Send an audio file",
      "webhookId": "c1ead7c8-f4bf-49b0-95c4-57bd56d7170d",
      "credentials": {
        "telegramApi": {
          "id": "44mDjW8nHCGChobZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем бинарные данные из предыдущей ноды\nconst binaryData = items[0].binary.data;\n\n// Меняем имя и тип\nbinaryData.fileName = 'audio.wav';\nbinaryData.fileExtension = 'wav';\nbinaryData.mimeType = 'audio/wav';\n\n// Возвращаем обновленный элемент\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        -48
      ],
      "id": "dead233d-063c-46bb-bc07-d980ef8b64f8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "01af2dca-3346-4a04-894c-802d92e0107a",
              "name": "text",
              "value": "={{ $json.text.split('---START_OF_DIGEST---')[1].replace(/\\*/g, '').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        -48
      ],
      "id": "e0b149dc-8d7b-47e4-ad5d-03bc90f09399",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Schedule: Morning News": {
      "main": [
        [
          {
            "node": "MongoDB: Get Repeat Words",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB: Get Repeat Words": {
      "main": [
        [
          {
            "node": "Get Fresh News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Fresh News": {
      "main": [
        [
          {
            "node": "Prepare AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Prompt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Telegeram: Send Digest",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule: Morning News": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fef31a96-7c18-40fd-b66d-0b4c9002b2b4",
  "activeVersionId": "fef31a96-7c18-40fd-b66d-0b4c9002b2b4",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-02T18:58:37.147Z",
      "createdAt": "2026-01-02T18:58:37.147Z",
      "role": "workflow:owner",
      "workflowId": "KLtGtt6CkqkMln91",
      "projectId": "jNVg0G6i9vrm7uSd"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-06T21:14:04.720Z",
    "createdAt": "2026-01-06T21:14:00.708Z",
    "versionId": "fef31a96-7c18-40fd-b66d-0b4c9002b2b4",
    "workflowId": "KLtGtt6CkqkMln91",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 10
              }
            ]
          }
        },
        "id": "3c3190d0-e560-419c-ad69-6e2190591669",
        "name": "Schedule: Morning News",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          -528,
          -160
        ]
      },
      {
        "parameters": {
          "collection": "words",
          "options": {
            "limit": 10
          },
          "query": "={ \"stage\": \"repeat\" }"
        },
        "id": "078c91bf-182f-4abb-a6d1-b23897b6e6cb",
        "name": "MongoDB: Get Repeat Words",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          -304,
          -160
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mongoDb": {
            "id": "p5lVP30sDORJCo8v",
            "name": "MongoDB account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "MWNgETzBSi4cAIFo",
            "mode": "list",
            "cachedResultName": "News"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "createdAt",
                "condition": "gte",
                "keyValue": "={{ $today }}"
              }
            ]
          },
          "limit": 2
        },
        "id": "e1a7b45a-9316-4f04-93f1-321ba41be331",
        "name": "Get Fresh News",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -80,
          -160
        ]
      },
      {
        "parameters": {
          "jsCode": "/* 1. Безопасно получаем слова */\nconst wordItems = $items(\"MongoDB: Get Repeat Words\");\nconst words = wordItems.length > 0\n    ? wordItems.map(i => i.json.word ? i.json.word + \" (\" + i.json.translate + \")\" : null).filter(w => w).join(\", \")\n    : \"\";\n\n/* 2. Собираем новости */\nconst news = $items(\"Get Fresh News\").map(i => \"### \" + i.json.title + \"\\n\" + (i.json.text || \"\")).join(\"\\n\\n\");\n\n/* 3. Готовим части промпта динамически */\nlet vocabTask = \"\";\nlet vocabStructure = \"\";\n\nif (words) {\n    vocabTask = `\\nYou must integrate the following vocabulary words into the narrative naturally: ${words}.`;\n    vocabStructure = `1. Start with a section: \"🎯 <b>Vocabulary Focus:</b>\" and list the target words with their translations (bullet points).\\n2. Insert the separator \"---START_OF_DIGEST---\" on a new line.\\n3. Then write the news digest below it.`;\n} else {\n    vocabTask = \"\\nFocus on generating a clear and engaging summary of the provided news.\";\n    vocabStructure = `1. Start immediately with the separator \"---START_OF_DIGEST---\" on the first line.\\n2. Then write the news digest below it.`;\n}\n\n/* 4. Возвращаем JSON с инструкцией для АУДИО */\nreturn [{ json: {\n    prompt: `Based on the following news articles:\\n\\n${news}\\n\\nTask: Write a cohesive, engaging daily digest (approx 300 words).${vocabTask}\\n\\nStructure of the response:\\n${vocabStructure}\\n\\nRequirements:\\n- Highlight the inserted words in the text in <b>bold</b> (use HTML tags <b>word</b>) if applicable.\\n- Keep the tone professional but conversational.\\n- Ensure the facts from the news are preserved.\\n- <b>CRITICAL FOR AUDIO:</b> Clearly introduce each new story/topic. Use phrases like \"First up regarding [Topic]...\", \"In other news...\", or explicitly state the headline to separate stories. Avoid a wall of text; use paragraph breaks.`\n} }];"
        },
        "id": "b6ab922b-c1a6-498f-951e-af2ff54dcfc0",
        "name": "Prepare AI Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          144,
          -160
        ]
      },
      {
        "parameters": {
          "chatId": "940676896",
          "text": "={{ $json.text }}",
          "additionalFields": {
            "parse_mode": "HTML"
          }
        },
        "id": "da987bcb-d8f6-4935-b4d0-05d98c4bf90e",
        "name": "Telegeram: Send Digest",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1088,
          -272
        ],
        "webhookId": "11c3c8ed-ee32-4f5c-adac-3af5ba51e546",
        "credentials": {
          "telegramApi": {
            "id": "44mDjW8nHCGChobZ",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.prompt }}",
          "needsFallback": true,
          "messages": {
            "messageValues": [
              {
                "message": "You are a professional news editor and English teacher."
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.8,
        "position": [
          368,
          -160
        ],
        "id": "159a9b23-4cd9-45ff-bf57-f8b2f3790463",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          384,
          64
        ],
        "id": "783e6d46-21f4-41c0-9384-db4019bd54de",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "LkIHzVT9REIIoRbA",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "gpt-4o-mini"
          },
          "responsesApiEnabled": false,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          512,
          64
        ],
        "id": "ecd2525e-c12c-4fc6-b514-bc441f117875",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "zI8kGOIzPCNm14vJ",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "JnVde1xTjaVHMlMx",
            "mode": "list",
            "cachedResultName": "DailyDigests",
            "cachedResultUrl": "/projects/jNVg0G6i9vrm7uSd/datatables/JnVde1xTjaVHMlMx"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "text": "={{ $json.text }}"
            },
            "matchingColumns": [
              "Content"
            ],
            "schema": [
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "deliveredAt",
                "displayName": "deliveredAt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          720,
          -160
        ],
        "id": "0b303e07-3707-4ce6-91b2-7a0004ddf185",
        "name": "Insert row"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://kokoro-tts:8880/v1/audio/speech",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{\n  JSON.stringify({\n    \"input\": $json.text,\n    \"voice\": \"af_bella\",\n    \"response_format\": \"mp3\",\n    \"speed\": 1.0\n  })\n}}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            },
            "timeout": 300000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1136,
          -48
        ],
        "id": "34f02088-0658-465e-aef3-0c6992fb5202",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "operation": "sendAudio",
          "chatId": "940676896",
          "binaryData": true,
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1568,
          -48
        ],
        "id": "d65a18c4-a412-4d89-a2e8-6827c3ae9f10",
        "name": "Send an audio file",
        "webhookId": "c1ead7c8-f4bf-49b0-95c4-57bd56d7170d",
        "credentials": {
          "telegramApi": {
            "id": "44mDjW8nHCGChobZ",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Получаем бинарные данные из предыдущей ноды\nconst binaryData = items[0].binary.data;\n\n// Меняем имя и тип\nbinaryData.fileName = 'audio.wav';\nbinaryData.fileExtension = 'wav';\nbinaryData.mimeType = 'audio/wav';\n\n// Возвращаем обновленный элемент\nreturn items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1312,
          -48
        ],
        "id": "dead233d-063c-46bb-bc07-d980ef8b64f8",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "01af2dca-3346-4a04-894c-802d92e0107a",
                "name": "text",
                "value": "={{ $json.text.split('---START_OF_DIGEST---')[1].replace(/\\*/g, '').trim() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          944,
          -48
        ],
        "id": "e0b149dc-8d7b-47e4-ad5d-03bc90f09399",
        "name": "Edit Fields"
      }
    ],
    "connections": {
      "Schedule: Morning News": {
        "main": [
          [
            {
              "node": "MongoDB: Get Repeat Words",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MongoDB: Get Repeat Words": {
        "main": [
          [
            {
              "node": "Get Fresh News",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Fresh News": {
        "main": [
          [
            {
              "node": "Prepare AI Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare AI Prompt": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "Insert row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert row": {
        "main": [
          [
            {
              "node": "Telegeram: Send Digest",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Send an audio file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Serhii Bal",
    "name": "Version fef31a96",
    "description": "",
    "autosaved": false
  },
  "tags": []
}