workflows/t0eJmgpYHlqjEj4O_Smart_Funnel__Stage_1__The_Sieve____FINAL_2026-01-23_00-00-04.json
{
  "updatedAt": "2025-12-26T21:41:06.030Z",
  "createdAt": "2025-12-26T20:56:47.952Z",
  "id": "t0eJmgpYHlqjEj4O",
  "name": "Smart Funnel: Stage 1 (The Sieve) - FINAL",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1152,
        1024
      ],
      "id": "eeaabadc-6e2d-43d0-a68d-129a83816160",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "query": "news",
        "options": {
          "topic": "news",
          "max_results": 10,
          "days": 1
        }
      },
      "type": "n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        1360,
        1024
      ],
      "id": "4280b143-9c5c-4a4f-8cb2-e311544d41a0",
      "name": "Query to search with tavily",
      "credentials": {
        "tavilyApi": {
          "id": "nIPqN3hx3KIadVwK",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1584,
        912
      ],
      "id": "67368994-1f46-403c-bf47-96263a8ebae1",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "MWNgETzBSi4cAIFo",
          "mode": "list",
          "cachedResultName": "News"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "url",
              "keyValue": "={{ $json.results.url }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "isDelivered": false,
            "url": "={{ $json.results.url }}",
            "title": "={{ $json.results.title }}",
            "text": "={{ $json.results.content }}",
            "publishedDate": "={{ $json.results.published_date }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1808,
        912
      ],
      "id": "a5d65fea-29ae-4340-badb-da5337cbcafe",
      "name": "Save to Table"
    },
    {
      "parameters": {
        "jsCode": "const results = items[0].json.results || [];\nconst allText = results.map(r => (r.title || '') + ' ' + (r.content || '')).join(' ');\nconst words = allText.toLowerCase().replace(/[^a-z0-9\\s]/g, '').split(/\\s+/).filter(w => w.length > 3);\nreturn [{ json: { uniqueWords: [...new Set(words)] } }];"
      },
      "name": "Sieve: Extract Words",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1584,
        1200
      ],
      "id": "d437d024-07fc-495d-8e26-cd8339944535"
    },
    {
      "parameters": {
        "collection": "words",
        "options": {
          "projection": "{\"word\": 1, \"_id\": 1}"
        },
        "query": "={\n  \"word\": { \"$in\": {{ JSON.stringify($json.uniqueWords) }} },\n  \"stage\": \"new\"\n}"
      },
      "name": "Sieve: Find Matches",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1808,
        1200
      ],
      "id": "72118d99-97ff-407e-a163-77f68da16fc9",
      "credentials": {
        "mongoDb": {
          "id": "p5lVP30sDORJCo8v",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-date",
              "name": "trainDate",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "assign-stage",
              "name": "stage",
              "value": "sieved",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "8dee4fdb-49a7-415a-b891-fc1dbf44222a",
      "name": "Prepare Update Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2032,
        1200
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "words",
        "updateKey": "_id",
        "fields": "trainDate,stage",
        "options": {}
      },
      "name": "Sieve: Move to Stage 'Sieved'",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2256,
        1200
      ],
      "id": "ea2b8e52-b33c-49ff-9250-bb130734249b",
      "credentials": {
        "mongoDb": {
          "id": "p5lVP30sDORJCo8v",
          "name": "MongoDB account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Query to search with tavily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query to search with tavily": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sieve: Extract Words",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Save to Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sieve: Extract Words": {
      "main": [
        [
          {
            "node": "Sieve: Find Matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sieve: Find Matches": {
      "main": [
        [
          {
            "node": "Prepare Update Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update Data": {
      "main": [
        [
          {
            "node": "Sieve: Move to Stage 'Sieved'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "cfa00ad2-1244-46fb-ab61-c22c50b08f66",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-26T20:56:47.952Z",
      "createdAt": "2025-12-26T20:56:47.952Z",
      "role": "workflow:owner",
      "workflowId": "t0eJmgpYHlqjEj4O",
      "projectId": "jNVg0G6i9vrm7uSd"
    }
  ],
  "activeVersion": null,
  "tags": []
}