workflows/T4amaL9X8Z9vZG7Q_API___Transcribe_Podcast_2026-02-14_00-00-38.json
{
  "updatedAt": "2026-02-07T17:37:43.473Z",
  "createdAt": "2026-02-06T19:07:54.402Z",
  "id": "T4amaL9X8Z9vZG7Q",
  "name": "API - Transcribe Podcast",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "path": "transcribe-podcast",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        304
      ],
      "webhookId": "transcribe-podcast-789",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const audioUrl = $input.first().json.query.audioUrl;\nconst podcastId = $input.first().json.query.podcastId;\n\nif (!audioUrl) {\n  return [{ json: { error: 'audioUrl parameter required' } }];\n}\n\nreturn [{ json: { audioUrl, podcastId: podcastId || 'unknown' } }];"
      },
      "id": "code-1",
      "name": "Get Audio URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        304
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.audioUrl }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 60000
        }
      },
      "id": "http-1",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        704,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst binaryData = item.binary?.data;\n\nif (!binaryData) {\n  console.log('No binary data found');\n  return { json: { fileSizeMB: 0, shouldCompress: false }, binary: item.binary };\n}\n\n// Get file size from binary metadata\nconst fileSize = binaryData.fileSize || (binaryData.data ? Buffer.byteLength(binaryData.data, 'base64') : 0);\nconst fileSizeMB = parseFloat((fileSize / 1024 / 1024).toFixed(2));\n\nconsole.log(`Audio file size: ${fileSizeMB} MB (${fileSize} bytes)`);\n\nreturn {\n  json: {\n    fileSizeMB,\n    shouldCompress: fileSizeMB > 20\n  },\n  binary: item.binary\n};"
      },
      "id": "code-check-size",
      "name": "Check File Size",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        928,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whisper-transcription:9000/asr?output=json&task=transcribe&language=en",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio_file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 600000
        }
      },
      "id": "http-2",
      "name": "Send to Whisper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1376,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const whisperResponse = $input.first().json;\nconst podcastId = $('Get Audio URL').first().json.podcastId;\nconst fileSizeMB = $('Check File Size').first().json.fileSizeMB;\n\nlet transcript;\nif (typeof whisperResponse === 'string') {\n  transcript = whisperResponse;\n} else if (whisperResponse.text) {\n  transcript = whisperResponse.text;\n} else {\n  transcript = JSON.stringify(whisperResponse);\n}\n\nreturn [{ json: { transcript, podcastId, fileSizeMB } }];"
      },
      "id": "code-2",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1824,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ffmpeg-audio-compressor:3000/compress",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 120000
        }
      },
      "id": "http-compress",
      "name": "Compress Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1152,
        304
      ]
    },
    {
      "id": "check-cache",
      "name": "Check Cache",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        350,
        300
      ],
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "mode": "name",
          "value": "podcast_transcripts"
        },
        "filters": {
          "combinator": "and",
          "conditions": [
            {
              "field": "id",
              "operator": "equals",
              "value": "={{ $('Get Audio URL').item.json.podcastId }}"
            }
          ]
        },
        "options": {
          "returnAll": false,
          "limit": 1
        }
      }
    },
    {
      "id": "if-cached",
      "name": "If Cached",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        550,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "combinator": "and",
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cached-check",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "return-cached",
      "name": "Return Cached",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        200
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const cached = $input.first().json;\nreturn [{ json: { transcript: cached.transcript_text, podcastId: cached.id, fileSizeMB: cached.file_size_mb, cached: true } }];"
      }
    },
    {
      "id": "save-cache",
      "name": "Save to Cache",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1150,
        400
      ],
      "parameters": {
        "resource": "row",
        "operation": "upsert",
        "dataTableId": {
          "mode": "name",
          "value": "podcast_transcripts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get Audio URL').item.json.podcastId }}",
            "audio_url": "={{ $('Get Audio URL').item.json.audioUrl }}",
            "transcript_text": "={{ $json.transcript }}",
            "segments": "={{ JSON.stringify($('Send to Whisper').item.json) }}",
            "file_size_mb": "={{ $('Check File Size').item.json.fileSizeMB }}"
          }
        },
        "matchColumns": [
          "id"
        ]
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Audio URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Check File Size",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Whisper": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Size": {
      "main": [
        [
          {
            "node": "Compress Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compress Audio": {
      "main": [
        [
          {
            "node": "Send to Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio URL": {
      "main": [
        [
          {
            "node": "Check Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cache": {
      "main": [
        [
          {
            "node": "If Cached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Cached": {
      "true": [
        [
          {
            "node": "Return Cached",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "false": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Cached": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Save to Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Cache": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "23daa9ea-5830-4216-bd7c-b567eb7bfd46",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-06T19:07:54.402Z",
      "createdAt": "2026-02-06T19:07:54.402Z",
      "role": "workflow:owner",
      "workflowId": "T4amaL9X8Z9vZG7Q",
      "projectId": "jNVg0G6i9vrm7uSd"
    }
  ],
  "activeVersion": null,
  "tags": []
}