workflows/T9DXStUavOFVQGzl_API___Transcribe_Podcast_v2_2026-02-12_00-00-53.json
{
  "updatedAt": "2026-02-07T18:54:37.964Z",
  "createdAt": "2026-02-07T16:04:09.456Z",
  "id": "T9DXStUavOFVQGzl",
  "name": "API - Transcribe Podcast v2",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "transcribe-podcast",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        256,
        304
      ],
      "webhookId": "transcribe-podcast",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Try different access methods\nconst item = $json || $input.first().json || {};\nconst audioUrl = item.query?.audioUrl || item.audioUrl;\nconst podcastId = item.query?.podcastId || item.podcastId;\n\nif (!audioUrl) {\n  // Check all possible locations\n  const allData = { \n    item, \n    hasQuery: !!item.query,\n    queryKeys: item.query ? Object.keys(item.query) : [],\n    itemKeys: Object.keys(item)\n  };\n  return [{ json: { error: 'audioUrl required', debug: allData } }];\n}\n\nreturn [{ json: { audioUrl, podcastId: podcastId || 'unknown' } }];"
      },
      "id": "code-1",
      "name": "Get Audio URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        304
      ]
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "value": "w8Wf2jE8RjoI2FkO",
          "mode": "list",
          "cachedResultName": "podcast_transcripts"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "audio_url",
              "keyValue": "={{ $json.audioUrl }}"
            }
          ]
        }
      },
      "id": "check-cache",
      "name": "Check Cache",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        656,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const cached = $input.first().json;\nreturn [{ json: { transcript: cached.transcript_text, podcastId: cached.id, fileSizeMB: cached.file_size_mb, cached: true } }];"
      },
      "id": "return-cached",
      "name": "Return Cached",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        208
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Get Audio URL').item.json.audioUrl }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 60000
        }
      },
      "id": "http-1",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1056,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst binaryData = item.binary?.data;\n\nif (!binaryData) {\n  console.log('No binary data found');\n  return { json: { fileSizeMB: 0, shouldCompress: false }, binary: item.binary };\n}\n\nconst fileSize = binaryData.fileSize || (binaryData.data ? Buffer.byteLength(binaryData.data, 'base64') : 0);\nconst fileSizeMB = parseFloat((fileSize / 1024 / 1024).toFixed(2));\n\nconsole.log(`Audio file size: ${fileSizeMB} MB (${fileSize} bytes)`);\n\nreturn {\n  json: {\n    fileSizeMB,\n    shouldCompress: fileSizeMB > 20\n  },\n  binary: item.binary\n};"
      },
      "id": "code-check-size",
      "name": "Check File Size",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1264,
        416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ffmpeg-audio-compressor:3000/compress",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 120000
        }
      },
      "id": "http-compress",
      "name": "Compress Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1456,
        416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whisper-transcription:9000/asr?output=json&task=transcribe&language=en",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio_file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 600000
        }
      },
      "id": "http-2",
      "name": "Send to Whisper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1664,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "const whisperResponse = $input.first().json;\nconst podcastId = $('Get Audio URL').first().json.podcastId;\nconst fileSizeMB = $('Check File Size').first().json.fileSizeMB;\n\nlet transcript;\nif (typeof whisperResponse === 'string') {\n  transcript = whisperResponse;\n} else if (whisperResponse.text) {\n  transcript = whisperResponse.text;\n} else {\n  transcript = JSON.stringify(whisperResponse);\n}\n\nreturn [{ json: { transcript, podcastId, fileSizeMB } }];"
      },
      "id": "code-2",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        416
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "w8Wf2jE8RjoI2FkO",
          "mode": "list",
          "cachedResultName": "podcast_transcripts",
          "cachedResultUrl": "/projects/jNVg0G6i9vrm7uSd/datatables/w8Wf2jE8RjoI2FkO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "audio_url": "={{ $('Get Audio URL').item.json.audioUrl }}",
            "transcript_text": "={{ $json.transcript }}",
            "segments": "={{ JSON.stringify($('Send to Whisper').item.json) }}",
            "file_size_mb": "={{ $('Check File Size').item.json.fileSizeMB }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "audio_url",
              "displayName": "audio_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "transcript_text",
              "displayName": "transcript_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "segments",
              "displayName": "segments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "file_size_mb",
              "displayName": "file_size_mb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "save-cache",
      "name": "Save to Cache",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2064,
        416
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Cache-Control",
                "value": "no-cache, no-store, must-revalidate"
              },
              {
                "name": "Pragma",
                "value": "no-cache"
              },
              {
                "name": "Expires",
                "value": "0"
              }
            ]
          }
        }
      },
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2256,
        304
      ]
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "w8Wf2jE8RjoI2FkO",
          "mode": "list",
          "cachedResultName": "podcast_transcripts"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "audio_url",
              "keyValue": "={{ $json.audioUrl }}"
            }
          ]
        }
      },
      "id": "cache-not-exists",
      "name": "If Not In Cache",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        656,
        416
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "w8Wf2jE8RjoI2FkO",
          "mode": "list",
          "cachedResultName": "podcast_transcripts"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "audio_url",
              "keyValue": "={{ $('Get Audio URL').item.json.audioUrl }}"
            }
          ]
        }
      },
      "id": "get-cached",
      "name": "Get From Cache",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        864,
        208
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Audio URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio URL": {
      "main": [
        [
          {
            "node": "Check Cache",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Not In Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Cached": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Check File Size",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Size": {
      "main": [
        [
          {
            "node": "Compress Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compress Audio": {
      "main": [
        [
          {
            "node": "Send to Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Whisper": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Save to Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Cache": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cache": {
      "main": [
        [
          {
            "node": "Get From Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get From Cache": {
      "main": [
        [
          {
            "node": "Return Cached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not In Cache": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "1699eef3-c226-4747-a42c-cb2684ce1c8e",
  "activeVersionId": "1699eef3-c226-4747-a42c-cb2684ce1c8e",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-07T16:04:09.456Z",
      "createdAt": "2026-02-07T16:04:09.456Z",
      "role": "workflow:owner",
      "workflowId": "T9DXStUavOFVQGzl",
      "projectId": "jNVg0G6i9vrm7uSd"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-07T18:53:18.463Z",
    "createdAt": "2026-02-07T18:53:18.463Z",
    "versionId": "1699eef3-c226-4747-a42c-cb2684ce1c8e",
    "workflowId": "T9DXStUavOFVQGzl",
    "nodes": [
      {
        "parameters": {
          "path": "transcribe-podcast",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "*"
          }
        },
        "id": "webhook-1",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          256,
          304
        ],
        "webhookId": "transcribe-podcast",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Try different access methods\nconst item = $json || $input.first().json || {};\nconst audioUrl = item.query?.audioUrl || item.audioUrl;\nconst podcastId = item.query?.podcastId || item.podcastId;\n\nif (!audioUrl) {\n  // Check all possible locations\n  const allData = { \n    item, \n    hasQuery: !!item.query,\n    queryKeys: item.query ? Object.keys(item.query) : [],\n    itemKeys: Object.keys(item)\n  };\n  return [{ json: { error: 'audioUrl required', debug: allData } }];\n}\n\nreturn [{ json: { audioUrl, podcastId: podcastId || 'unknown' } }];"
        },
        "id": "code-1",
        "name": "Get Audio URL",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          304
        ]
      },
      {
        "parameters": {
          "operation": "rowExists",
          "dataTableId": {
            "__rl": true,
            "value": "w8Wf2jE8RjoI2FkO",
            "mode": "list",
            "cachedResultName": "podcast_transcripts"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "audio_url",
                "keyValue": "={{ $json.audioUrl }}"
              }
            ]
          }
        },
        "id": "check-cache",
        "name": "Check Cache",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          656,
          224
        ]
      },
      {
        "parameters": {
          "jsCode": "const cached = $input.first().json;\nreturn [{ json: { transcript: cached.transcript_text, podcastId: cached.id, fileSizeMB: cached.file_size_mb, cached: true } }];"
        },
        "id": "return-cached",
        "name": "Return Cached",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1056,
          208
        ]
      },
      {
        "parameters": {
          "url": "={{ $('Get Audio URL').item.json.audioUrl }}",
          "options": {
            "redirect": {
              "redirect": {}
            },
            "response": {
              "response": {
                "responseFormat": "file"
              }
            },
            "timeout": 60000
          }
        },
        "id": "http-1",
        "name": "Download Audio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1056,
          416
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first();\nconst binaryData = item.binary?.data;\n\nif (!binaryData) {\n  console.log('No binary data found');\n  return { json: { fileSizeMB: 0, shouldCompress: false }, binary: item.binary };\n}\n\nconst fileSize = binaryData.fileSize || (binaryData.data ? Buffer.byteLength(binaryData.data, 'base64') : 0);\nconst fileSizeMB = parseFloat((fileSize / 1024 / 1024).toFixed(2));\n\nconsole.log(`Audio file size: ${fileSizeMB} MB (${fileSize} bytes)`);\n\nreturn {\n  json: {\n    fileSizeMB,\n    shouldCompress: fileSizeMB > 20\n  },\n  binary: item.binary\n};"
        },
        "id": "code-check-size",
        "name": "Check File Size",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          1264,
          416
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://ffmpeg-audio-compressor:3000/compress",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "audio",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            },
            "timeout": 120000
          }
        },
        "id": "http-compress",
        "name": "Compress Audio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1456,
          416
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://whisper-transcription:9000/asr?output=json&task=transcribe&language=en",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "audio_file",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {
            "timeout": 600000
          }
        },
        "id": "http-2",
        "name": "Send to Whisper",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1664,
          416
        ]
      },
      {
        "parameters": {
          "jsCode": "const whisperResponse = $input.first().json;\nconst podcastId = $('Get Audio URL').first().json.podcastId;\nconst fileSizeMB = $('Check File Size').first().json.fileSizeMB;\n\nlet transcript;\nif (typeof whisperResponse === 'string') {\n  transcript = whisperResponse;\n} else if (whisperResponse.text) {\n  transcript = whisperResponse.text;\n} else {\n  transcript = JSON.stringify(whisperResponse);\n}\n\nreturn [{ json: { transcript, podcastId, fileSizeMB } }];"
        },
        "id": "code-2",
        "name": "Format Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1856,
          416
        ]
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "w8Wf2jE8RjoI2FkO",
            "mode": "list",
            "cachedResultName": "podcast_transcripts",
            "cachedResultUrl": "/projects/jNVg0G6i9vrm7uSd/datatables/w8Wf2jE8RjoI2FkO"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "audio_url": "={{ $('Get Audio URL').item.json.audioUrl }}",
              "transcript_text": "={{ $json.transcript }}",
              "segments": "={{ JSON.stringify($('Send to Whisper').item.json) }}",
              "file_size_mb": "={{ $('Check File Size').item.json.fileSizeMB }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "audio_url",
                "displayName": "audio_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "transcript_text",
                "displayName": "transcript_text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "segments",
                "displayName": "segments",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "file_size_mb",
                "displayName": "file_size_mb",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "save-cache",
        "name": "Save to Cache",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          2064,
          416
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                },
                {
                  "name": "Cache-Control",
                  "value": "no-cache, no-store, must-revalidate"
                },
                {
                  "name": "Pragma",
                  "value": "no-cache"
                },
                {
                  "name": "Expires",
                  "value": "0"
                }
              ]
            }
          }
        },
        "id": "respond-1",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          2256,
          304
        ]
      },
      {
        "parameters": {
          "operation": "rowNotExists",
          "dataTableId": {
            "__rl": true,
            "value": "w8Wf2jE8RjoI2FkO",
            "mode": "list",
            "cachedResultName": "podcast_transcripts"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "audio_url",
                "keyValue": "={{ $json.audioUrl }}"
              }
            ]
          }
        },
        "id": "cache-not-exists",
        "name": "If Not In Cache",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          656,
          416
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "w8Wf2jE8RjoI2FkO",
            "mode": "list",
            "cachedResultName": "podcast_transcripts"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "audio_url",
                "keyValue": "={{ $('Get Audio URL').item.json.audioUrl }}"
              }
            ]
          }
        },
        "id": "get-cached",
        "name": "Get From Cache",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          864,
          208
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Get Audio URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Audio URL": {
        "main": [
          [
            {
              "node": "Check Cache",
              "type": "main",
              "index": 0
            },
            {
              "node": "If Not In Cache",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Return Cached": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Audio": {
        "main": [
          [
            {
              "node": "Check File Size",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check File Size": {
        "main": [
          [
            {
              "node": "Compress Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compress Audio": {
        "main": [
          [
            {
              "node": "Send to Whisper",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Whisper": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Response": {
        "main": [
          [
            {
              "node": "Save to Cache",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save to Cache": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Cache": {
        "main": [
          [
            {
              "node": "Get From Cache",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get From Cache": {
        "main": [
          [
            {
              "node": "Return Cached",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Not In Cache": {
        "main": [
          [
            {
              "node": "Download Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Serhii Bal",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}