workflows/xpoa9u1Vds4eldJ9_Telegram_Word_Quiz__Scheduled____FIXED_v2_2026-01-17_17-54-33.json
{
  "updatedAt": "2026-01-17T15:13:08.950Z",
  "createdAt": "2026-01-11T19:05:49.670Z",
  "id": "xpoa9u1Vds4eldJ9",
  "name": "Telegram Word Quiz (Scheduled) - FIXED v2",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "ed1e83dc-32e4-4d7e-9a01-2783c9b047ce",
      "name": "Schedule Trigger (9:00 AM)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        1040,
        272
      ]
    },
    {
      "parameters": {
        "collection": "words",
        "options": {
          "limit": 1
        },
        "query": "={ \"stage\": \"repeat\" }"
      },
      "id": "8852fe88-eef8-48fc-a8e3-1fdb1d3b6f32",
      "name": "Get Target (Repeat)",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1440,
        272
      ],
      "credentials": {
        "mongoDb": {
          "id": "p5lVP30sDORJCo8v",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "words",
        "options": {
          "limit": 4
        },
        "query": "={ \"stage\": \"repeat\" }"
      },
      "id": "1bb7d9aa-48ab-4610-9253-d0351258e5cc",
      "name": "Get Distractors",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1664,
        272
      ],
      "credentials": {
        "mongoDb": {
          "id": "p5lVP30sDORJCo8v",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const target = $items(\"Get Target (Repeat)\")[0].json;\nlet distractors = $items(\"Get Distractors\").map(i => i.json);\n\n// 1. Убираем целевое слово из дистракторов (чтобы не было дублей)\ndistractors = distractors.filter(d => d.word.trim().toLowerCase() !== target.word.trim().toLowerCase());\n\n// 2. Берем только 3 случайных дистрактора\ndistractors = distractors.slice(0, 3);\n\n// Create Options\nconst options = [\n  { text: target.translate, callback_data: `check:${target._id}:correct` },\n  ...distractors.map(d => ({ text: d.translate, callback_data: `check:${target._id}:wrong:${d.word}` }))\n];\n\n// Shuffle Options (Перемешиваем)\nfor (let i = options.length - 1; i > 0; i--) {\n  const j = Math.floor(Math.random() * (i + 1));\n  [options[i], options[j]] = [options[j], options[i]];\n}\n\n// Prepare Keyboard (2 columns)\nconst inline_keyboard = [];\nfor (let i = 0; i < options.length; i += 2) {\n  inline_keyboard.push(options.slice(i, i + 2));\n}\n\n// Mask Example\nlet questionText = `🎯 <b>${target.word}</b>`;\nif (target.example) {\n   const maskedExample = target.example.replace(new RegExp(target.word, 'gi'), '_______');\n   questionText += `\\n\\n📝 <i>${maskedExample}</i>`;\n}\nif (target.transcription) {\n    questionText += `\\n\\n🗣 [${target.transcription}]`;\n}\nquestionText += '\\n\\n👇 <i>Choose translation:</i>';\n\n// Audio handling\nlet audioUrl = null;\nif (target.audio) {\n  let url = target.audio;\n  if (url.startsWith('[sound:')) {\n      url = url.slice(7, -1);\n  }\n  audioUrl = url;\n}\n\n// Determine Chat ID (безопасно)\nlet chatId = 940676896; // ВАШ ID ПО УМОЛЧАНИЮ\ntry {\n    const triggerData = $items(\"Telegram Trigger (Command)\");\n    if (triggerData && triggerData.length > 0 && triggerData[0].json.message) {\n        chatId = triggerData[0].json.message.chat.id;\n    }\n} catch(e) {}\n\nreturn { \n  json: { \n    chatId,\n    questionText,\n    keyboard_rows: { inline_keyboard },\n    audioUrl\n  } \n};"
      },
      "id": "ba9cfbcb-20f8-4b7a-b7ac-ac4f9239b35c",
      "name": "Prepare Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1888,
        272
      ]
    },
    {
      "parameters": {
        "chatId": "=940676896",
        "text": "={{ $json.questionText }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "={{ $json.keyboard_rows.inline_keyboard[0][0].text }}",
                    "additionalFields": {
                      "callback_data": "={{ 'quiz|' + $json.keyboard_rows.inline_keyboard[0][0].callback_data }}"
                    }
                  },
                  {
                    "text": "={{ $json.keyboard_rows.inline_keyboard[0][1].text }}",
                    "additionalFields": {
                      "callback_data": "={{'quiz|' + $json.keyboard_rows.inline_keyboard[0][1].callback_data }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "={{ $json.keyboard_rows.inline_keyboard[1][0].text }}",
                    "additionalFields": {
                      "callback_data": "={{'quiz|' + $json.keyboard_rows.inline_keyboard[1][0].callback_data }}"
                    }
                  },
                  {
                    "text": "={{ $json.keyboard_rows.inline_keyboard[1][1].text }}",
                    "additionalFields": {
                      "callback_data": "={{'quiz|' + $json.keyboard_rows.inline_keyboard[1][1].callback_data }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "3766aa41-448d-4c3f-a25d-c2a7f78aaefd",
      "name": "Send Question",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2336,
        464
      ],
      "webhookId": "e2242c14-2b11-4c69-a6d5-dabc1fa49b30",
      "credentials": {
        "telegramApi": {
          "id": "44mDjW8nHCGChobZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.audioUrl }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "404f865c-2021-40dd-aa9b-40e743ff51d0",
      "name": "Has Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2112,
        272
      ]
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $json.chatId }}",
        "file": "={{ $json.audioUrl }}",
        "additionalFields": {}
      },
      "id": "9ddb7afc-1bf1-402c-a8f8-a879989e2098",
      "name": "Send Audio",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2336,
        192
      ],
      "webhookId": "8e25318a-bddb-4baa-892f-efb7750be270",
      "credentials": {
        "telegramApi": {
          "id": "44mDjW8nHCGChobZ",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger (9:00 AM)": {
      "main": [
        [
          {
            "node": "Get Target (Repeat)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Target (Repeat)": {
      "main": [
        [
          {
            "node": "Get Distractors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Distractors": {
      "main": [
        [
          {
            "node": "Prepare Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Message": {
      "main": [
        [
          {
            "node": "Has Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Audio?": {
      "main": [
        [
          {
            "node": "Send Audio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Question",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e285c8b5-57a7-4b73-9bc2-b389c2024433",
  "activeVersionId": "e285c8b5-57a7-4b73-9bc2-b389c2024433",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-11T19:05:49.670Z",
      "createdAt": "2026-01-11T19:05:49.670Z",
      "role": "workflow:owner",
      "workflowId": "xpoa9u1Vds4eldJ9",
      "projectId": "jNVg0G6i9vrm7uSd"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-17T15:13:12.217Z",
    "createdAt": "2026-01-17T15:13:08.952Z",
    "versionId": "e285c8b5-57a7-4b73-9bc2-b389c2024433",
    "workflowId": "xpoa9u1Vds4eldJ9",
    "nodes": [
      {
        "parameters": {},
        "id": "ed1e83dc-32e4-4d7e-9a01-2783c9b047ce",
        "name": "Schedule Trigger (9:00 AM)",
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1,
        "position": [
          1040,
          272
        ]
      },
      {
        "parameters": {
          "collection": "words",
          "options": {
            "limit": 1
          },
          "query": "={ \"stage\": \"repeat\" }"
        },
        "id": "8852fe88-eef8-48fc-a8e3-1fdb1d3b6f32",
        "name": "Get Target (Repeat)",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1,
        "position": [
          1440,
          272
        ],
        "credentials": {
          "mongoDb": {
            "id": "p5lVP30sDORJCo8v",
            "name": "MongoDB account"
          }
        }
      },
      {
        "parameters": {
          "collection": "words",
          "options": {
            "limit": 4
          },
          "query": "={ \"stage\": \"repeat\" }"
        },
        "id": "1bb7d9aa-48ab-4610-9253-d0351258e5cc",
        "name": "Get Distractors",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1,
        "position": [
          1664,
          272
        ],
        "credentials": {
          "mongoDb": {
            "id": "p5lVP30sDORJCo8v",
            "name": "MongoDB account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const target = $items(\"Get Target (Repeat)\")[0].json;\nlet distractors = $items(\"Get Distractors\").map(i => i.json);\n\n// 1. Убираем целевое слово из дистракторов (чтобы не было дублей)\ndistractors = distractors.filter(d => d.word.trim().toLowerCase() !== target.word.trim().toLowerCase());\n\n// 2. Берем только 3 случайных дистрактора\ndistractors = distractors.slice(0, 3);\n\n// Create Options\nconst options = [\n  { text: target.translate, callback_data: `check:${target._id}:correct` },\n  ...distractors.map(d => ({ text: d.translate, callback_data: `check:${target._id}:wrong:${d.word}` }))\n];\n\n// Shuffle Options (Перемешиваем)\nfor (let i = options.length - 1; i > 0; i--) {\n  const j = Math.floor(Math.random() * (i + 1));\n  [options[i], options[j]] = [options[j], options[i]];\n}\n\n// Prepare Keyboard (2 columns)\nconst inline_keyboard = [];\nfor (let i = 0; i < options.length; i += 2) {\n  inline_keyboard.push(options.slice(i, i + 2));\n}\n\n// Mask Example\nlet questionText = `🎯 <b>${target.word}</b>`;\nif (target.example) {\n   const maskedExample = target.example.replace(new RegExp(target.word, 'gi'), '_______');\n   questionText += `\\n\\n📝 <i>${maskedExample}</i>`;\n}\nif (target.transcription) {\n    questionText += `\\n\\n🗣 [${target.transcription}]`;\n}\nquestionText += '\\n\\n👇 <i>Choose translation:</i>';\n\n// Audio handling\nlet audioUrl = null;\nif (target.audio) {\n  let url = target.audio;\n  if (url.startsWith('[sound:')) {\n      url = url.slice(7, -1);\n  }\n  audioUrl = url;\n}\n\n// Determine Chat ID (безопасно)\nlet chatId = 940676896; // ВАШ ID ПО УМОЛЧАНИЮ\ntry {\n    const triggerData = $items(\"Telegram Trigger (Command)\");\n    if (triggerData && triggerData.length > 0 && triggerData[0].json.message) {\n        chatId = triggerData[0].json.message.chat.id;\n    }\n} catch(e) {}\n\nreturn { \n  json: { \n    chatId,\n    questionText,\n    keyboard_rows: { inline_keyboard },\n    audioUrl\n  } \n};"
        },
        "id": "ba9cfbcb-20f8-4b7a-b7ac-ac4f9239b35c",
        "name": "Prepare Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          1888,
          272
        ]
      },
      {
        "parameters": {
          "chatId": "=940676896",
          "text": "={{ $json.questionText }}",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "={{ $json.keyboard_rows.inline_keyboard[0][0].text }}",
                      "additionalFields": {
                        "callback_data": "={{ 'quiz|' + $json.keyboard_rows.inline_keyboard[0][0].callback_data }}"
                      }
                    },
                    {
                      "text": "={{ $json.keyboard_rows.inline_keyboard[0][1].text }}",
                      "additionalFields": {
                        "callback_data": "={{'quiz|' + $json.keyboard_rows.inline_keyboard[0][1].callback_data }}"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "={{ $json.keyboard_rows.inline_keyboard[1][0].text }}",
                      "additionalFields": {
                        "callback_data": "={{'quiz|' + $json.keyboard_rows.inline_keyboard[1][0].callback_data }}"
                      }
                    },
                    {
                      "text": "={{ $json.keyboard_rows.inline_keyboard[1][1].text }}",
                      "additionalFields": {
                        "callback_data": "={{'quiz|' + $json.keyboard_rows.inline_keyboard[1][1].callback_data }}"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "parse_mode": "HTML"
          }
        },
        "id": "3766aa41-448d-4c3f-a25d-c2a7f78aaefd",
        "name": "Send Question",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1,
        "position": [
          2336,
          464
        ],
        "webhookId": "e2242c14-2b11-4c69-a6d5-dabc1fa49b30",
        "credentials": {
          "telegramApi": {
            "id": "44mDjW8nHCGChobZ",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.audioUrl }}",
                "operation": "isNotEmpty"
              }
            ]
          }
        },
        "id": "404f865c-2021-40dd-aa9b-40e743ff51d0",
        "name": "Has Audio?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          2112,
          272
        ]
      },
      {
        "parameters": {
          "operation": "sendAudio",
          "chatId": "={{ $json.chatId }}",
          "file": "={{ $json.audioUrl }}",
          "additionalFields": {}
        },
        "id": "9ddb7afc-1bf1-402c-a8f8-a879989e2098",
        "name": "Send Audio",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1,
        "position": [
          2336,
          192
        ],
        "webhookId": "8e25318a-bddb-4baa-892f-efb7750be270",
        "credentials": {
          "telegramApi": {
            "id": "44mDjW8nHCGChobZ",
            "name": "Telegram account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger (9:00 AM)": {
        "main": [
          [
            {
              "node": "Get Target (Repeat)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Target (Repeat)": {
        "main": [
          [
            {
              "node": "Get Distractors",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Distractors": {
        "main": [
          [
            {
              "node": "Prepare Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Message": {
        "main": [
          [
            {
              "node": "Has Audio?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Audio?": {
        "main": [
          [
            {
              "node": "Send Audio",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send Question",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Question",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Serhii Bal",
    "name": "Version e285c8b5",
    "description": "",
    "autosaved": false
  },
  "tags": []
}