workflows/XTAGrZwvvoKgsRm5_API___Mark_Words_New_Batch_2026-02-03_00-00-24.json
{
  "updatedAt": "2026-02-02T15:35:17.541Z",
  "createdAt": "2026-02-02T15:35:08.551Z",
  "id": "XTAGrZwvvoKgsRm5",
  "name": "API - Mark Words New Batch",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "path": "mark-new-batch",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "code-process",
      "name": "Process Word IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "parameters": {
        "jsCode": "// Get word IDs from request body\nconst wordIds = $input.first().json.body.wordIds || [];\n\nif (!wordIds.length) {\n  return [{ json: { error: 'No word IDs provided', updated: 0 } }];\n}\n\n// Return items for batch update\nreturn wordIds.map(id => ({\n  json: {\n    _id: id,\n    stage: 'new',\n    trainDate: new Date()\n  }\n}));"
      }
    },
    {
      "id": "mongo-update",
      "name": "MongoDB: Update Words",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ],
      "parameters": {
        "operation": "update",
        "collection": "words",
        "updateKey": "_id",
        "fields": "stage,trainDate",
        "options": {}
      },
      "credentials": {
        "mongoDb": {
          "id": "p5lVP30sDORJCo8v",
          "name": "MongoDB account"
        }
      }
    },
    {
      "id": "code-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst updated = items.length;\n\nreturn [{ json: {\n  success: true,\n  updated: updated,\n  message: `Marked ${updated} words as new`\n} }];"
      }
    },
    {
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        896,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Word IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Word IDs": {
      "main": [
        [
          {
            "node": "MongoDB: Update Words",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB: Update Words": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "57c91a38-8383-4b89-ab89-00049668d370",
  "activeVersionId": "57c91a38-8383-4b89-ab89-00049668d370",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-02T15:35:08.551Z",
      "createdAt": "2026-02-02T15:35:08.551Z",
      "role": "workflow:owner",
      "workflowId": "XTAGrZwvvoKgsRm5",
      "projectId": "jNVg0G6i9vrm7uSd"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-02T15:35:08.575Z",
    "createdAt": "2026-02-02T15:35:08.575Z",
    "versionId": "57c91a38-8383-4b89-ab89-00049668d370",
    "workflowId": "XTAGrZwvvoKgsRm5",
    "nodes": [
      {
        "id": "webhook-1",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "parameters": {
          "path": "mark-new-batch",
          "httpMethod": "POST",
          "responseMode": "responseNode",
          "options": {}
        }
      },
      {
        "id": "code-process",
        "name": "Process Word IDs",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          0
        ],
        "parameters": {
          "jsCode": "// Get word IDs from request body\nconst wordIds = $input.first().json.body.wordIds || [];\n\nif (!wordIds.length) {\n  return [{ json: { error: 'No word IDs provided', updated: 0 } }];\n}\n\n// Return items for batch update\nreturn wordIds.map(id => ({\n  json: {\n    _id: id,\n    stage: 'new',\n    trainDate: new Date()\n  }\n}));"
        }
      },
      {
        "id": "mongo-update",
        "name": "MongoDB: Update Words",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          448,
          0
        ],
        "parameters": {
          "operation": "update",
          "collection": "words",
          "updateKey": "_id",
          "fields": "stage,trainDate",
          "options": {}
        },
        "credentials": {
          "mongoDb": {
            "id": "p5lVP30sDORJCo8v",
            "name": "MongoDB account"
          }
        }
      },
      {
        "id": "code-response",
        "name": "Format Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          0
        ],
        "parameters": {
          "jsCode": "const items = $input.all();\nconst updated = items.length;\n\nreturn [{ json: {\n  success: true,\n  updated: updated,\n  message: `Marked ${updated} words as new`\n} }];"
        }
      },
      {
        "id": "respond-1",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          896,
          0
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Process Word IDs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Word IDs": {
        "main": [
          [
            {
              "node": "MongoDB: Update Words",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MongoDB: Update Words": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Response": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Serhii Bal",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}